{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div style="outline: none;">
    <div class="gQkeed">
        <div class="edTBgo for-desktop">
            <div class="bZFMjS">
                <div class="gWOzHC">
                    <ul class="links">
                        <li class="euCHsL">
                            <a href="#">
                                <span>T &amp;T Zone</span>
                            </a>
                        </li>
                        <li class="euCHsL">
                            <a href="#">
                                <span>Open your Kids &amp;Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sticky">
            <div class=" bZFMjS wrapper">
                <div class="eYctao">
                    <a class href="#">
                        Logo
                    </a>
                </div>
                <div class="gGaVHo">
                    <ul class="links">
                        <li class="euCHsL primary"><a href="#"><span>Method</span></a></li>
                        <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root primary">
                            <button class
                                    class><span>English courses</span>
                                <svg fill="none"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron ">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                          fill="#303030"></path>
                                </svg>
                            </button>
                            <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv">
                                <ul>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="http://127.0.0.1:8000/english_courses/"><span>All our English
                                                            courses</span></a></li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="http://127.0.0.1:8000/english_courses/babies-ages-1-2/"><span>Babies
                                                            from 1 to 2 years old</span></a></li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="http://127.0.0.1:8000/english_courses/kids-ages-3-8/"><span>Kids from 3
                                                            to 8 years old</span></a></li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="http://127.0.0.1:8000/english_courses/preteens-ages-9-12/"><span>Pre-teens from 9 to 12 years old</span></a>
                                    </li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="http://127.0.0.1:8000/english_courses/teens-ages-13-18/"><span>Teens
                                                            from 13 to 18 years old</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root primary">
                            <button><span>English activities</span>
                                <svg fill="none"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                          fill="#303030"></path>
                                </svg>
                            </button>
                            <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv">
                                <ul>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>All our
                                                            English activities</span></a></li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root">
                                        <button><span>English holiday camps</span>
                                            <svg fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10"
                                                 class="chevron ">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                      fill="#303030"></path>
                                            </svg>
                                        </button>
                                        <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv second-level ">
                                            <ul>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>All Our English Camps</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>English immersion camps</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>English summer camps</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>English sports camps</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>English theme camps</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>English day experience for children</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root">
                                        <button><span>English workshops</span>
                                            <svg fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10"
                                                 class="chevron">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                      fill="#303030"></path>
                                            </svg>
                                        </button>
                                        <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv second-level ">
                                            <ul>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>All Our English Workshops</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>Storytelling workshop</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>Science workshop for children</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>Cooking workshop for children</span></a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>Theatre workshop in English</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL"><a href="#"><span>Learn English at home</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL primary"><a
                                href="#"><span>English schools</span></a></li>
                    </ul>
                    <div class="cvMSM"><a
                            href="#" class=" vqxsT cta ">Contact us</a></div>
                </div>
                <div class="jGyQWv"><span></span>
                    <div class="text">Menu</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    {% block main_content %}{% endblock main_content %}
    <!-- /.content -->
    <footer class="fNthQB">
        <div class="jeMOEU " style="width: auto">
            <nav class="bPOOVj jeMOEU" style="width: auto">
                <div class="column">
                    <div class="label">À propos</div>
                    <ul>
                        <li><a href="#">Qui sommes-nous</a></li>
                        <li><a href="#">Travailler avec nous</a>
                        </li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Canal de plainte</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="label">Cours d'anglais</div>
                    <ul>
                        <li><a href="#">Cours d’anglais pour bébés de 1 à 2
                            ans</a></li>
                        <li><a href="#">Cours d’anglais pour enfants de 3 à
                            8 ans</a></li>
                        <li><a href="#">Cours d’anglais pour enfants
                            de 9 à 12 ans</a></li>
                        <li><a href="#">Cours d’anglais pour jeunes de
                            13 à 18 ans</a></li>
                    </ul>
                </div>
                <div class="column">
                    <div class="label">Activités en anglais</div>
                    <ul>
                        <li><a href="#">Stages
                            en anglais pour enfants</a></li>
                        <li><a href="#">Ateliers en anglais pour
                            enfants</a></li>
                        <li><a href="#">Apprendre
                            l’anglais chez soi</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="fShjqX jeMOEU" style="width: auto">
            <div class="title">Suivez-nous sur :</div>
            <ul class="fbDDAS">
                <li class="item"><a href="#" class="icon facebook">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 24">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12.987 0H9.445c-3.26 0-5.903 2.584-5.903 5.772v3.463H0v4.618h3.542v9.235h4.722v-9.235h3.542l1.181-4.618H8.264V5.772c0-.637.53-1.154 1.181-1.154h3.542V0z"
                              fill="#fff"></path>
                    </svg>
                </a></li>
                <li class="item"><a href="#" class="icon instagram">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 5.956A5.956 5.956 0 015.956 0h11.912a5.956 5.956 0 015.956 5.956v11.913a5.956 5.956 0 01-5.956 5.956H5.956A5.956 5.956 0 010 17.869V5.956zm12.478 2.428a3.515 3.515 0 10-1.031 6.953 3.515 3.515 0 001.03-6.953zm-5.888.772a6.015 6.015 0 1110.745 5.408A6.015 6.015 0 016.59 9.156zM18.463 2.98a1.191 1.191 0 100 2.382 1.191 1.191 0 000-2.382z"
                              fill="#fff"></path>
                    </svg>
                </a></li>
                <li class="item"><a href="#" class="icon linkedin">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 21 21">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 2.522a2.523 2.523 0 015.043 0c0 1.392-1.13 2.545-2.521 2.545C1.13 5.067 0 3.914 0 2.522zM20.995 21H21v-7.703c0-3.767-.811-6.67-5.216-6.67-2.118 0-3.539 1.162-4.119 2.264h-.06V6.979H7.427V21h4.349v-6.942c0-1.828.346-3.595 2.61-3.595 2.23 0 2.263 2.086 2.263 3.712V21h4.345zM.347 6.98H4.7V21H.347V6.98z"
                              fill="#fff"></path>
                    </svg>
                </a></li>
                <li class="item"><a href="#" class="icon spotify">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 30 30">
                        <path clip-rule="evenodd"
                              d="M22.576 24.79c.61.405 1.32.2 1.725-.406.3-.61.201-1.42-.509-1.724-5.272-3.245-11.965-3.956-19.67-2.23-.61.202-1.116.809-.914 1.52.203.609.813 1.117 1.52.911 7.1-1.622 13.082-1.012 17.847 1.928zm2.026-5.476c.711.507 1.624.203 2.133-.507.505-.71.202-1.722-.408-2.028-6.286-3.852-15.412-4.969-22.814-2.74-.812.203-1.217 1.118-1.014 1.929.202.811 1.117 1.217 1.926 1.014 6.388-2.028 14.703-1.014 20.177 2.332zm-21.19-8.516c6.185-1.928 17.034-1.523 23.525 2.33.911.506 2.13.205 2.635-.506.507-.913.203-2.13-.708-2.637-7.505-4.463-19.369-4.869-26.568-2.74-.913.307-1.521 1.319-1.217 2.335.304.912 1.318 1.52 2.332 1.218z"
                              fill="#fff" fill-rule="evenodd"></path>
                    </svg>
                </a></li>
                <li class="item"><a href="#" class="icon twitter">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20">
                        <path d="M25.95 2.382c-.974.406-2.005.674-3.061.795A5.143 5.143 0 0025.232.385c-1.03.569-2.172.983-3.388 1.214A5.427 5.427 0 0018.821.068a5.593 5.593 0 00-3.383.528 5.169 5.169 0 00-2.343 2.369 4.796 4.796 0 00-.333 3.23C8.33 5.995 4.406 3.981 1.777.938a4.743 4.743 0 00-.722 2.537c0 1.754.943 3.295 2.37 4.2a5.544 5.544 0 01-2.413-.632v.062a4.89 4.89 0 001.204 3.197 5.394 5.394 0 003.07 1.752 5.71 5.71 0 01-2.396.087 5.08 5.08 0 001.902 2.508 5.547 5.547 0 003.086.996 11.088 11.088 0 01-6.61 2.158c-.423 0-.844-.024-1.268-.069A15.794 15.794 0 008.187 20c9.807 0 15.164-7.686 15.164-14.339 0-.215 0-.43-.016-.646A10.463 10.463 0 0026 2.403l-.05-.02z"
                              fill="#fff"></path>
                    </svg>
                </a></li>
                <li class="item"><a href="#" class="icon youtube">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 27 18">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M23.686.486c1.158.314 2.052 1.198 2.345 2.317.383 2.036.569 4.103.555 6.172a32.233 32.233 0 01-.555 6.08c-.293 1.119-1.187 2.002-2.345 2.316-2.078.533-10.393.533-10.393.533s-8.314 0-10.392-.533c-1.134-.297-2.023-1.14-2.344-2.223A32.223 32.223 0 010 8.975 32.2 32.2 0 01.557 2.85C.849 1.73 1.743.847 2.9.533 4.979 0 13.294 0 13.294 0s8.314 0 10.392.486zm-6.163 8.49l-6.949 3.787V5.189l6.949 3.787z"
                              fill="#fff"></path>
                    </svg>
                </a></li>
            </ul>
        </div>
        <div class="gaESUR">
            <div class="jeMOEU wrapper">
                <div class="bXRprC"><a href="#" class="biGQkc">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.864 1.938A6.17 6.17 0 001.853 7.5h3.002a10.7 10.7 0 012.009-5.562zm2.272 0A10.7 10.7 0 0111.145 7.5h3.001a6.17 6.17 0 00-5.01-5.562zM10.142 7.5A9.7 9.7 0 008 2.1a9.7 9.7 0 00-2.143 5.4h4.285zm-4.285 1h4.285A9.7 9.7 0 018 13.9a9.7 9.7 0 01-2.143-5.4zm-1.002 0H1.853a6.17 6.17 0 005.01 5.562A10.7 10.7 0 014.856 8.5zm4.28 5.562a10.7 10.7 0 002.01-5.562h3.001a6.17 6.17 0 01-5.01 5.562zM.833 8v-.002a7.167 7.167 0 1114.333 0A7.167 7.167 0 01.833 8z"
                              fill="#C10D28"></path>
                    </svg>
                    BE</a>
                    <ul>
                        <li><a href="#" class="">English</a></li>
                    </ul>
                </div>
                <div class="fKKNk">
                    <div class="copyright">© Kids&amp;Us English S.L. Tous droits réservés. 2023</div>
                    <nav>
                        <ul class="menu-list">
                            <li class="menu-item"><a href="#">Mentions légales</a></li>
                            <li class="menu-item"><a href="#">Cookies</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</div>


</div>
</body>
</html>