{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
<div>
        <div style="outline: none;">
            <div style="background-color: #0a66c2;" class="gQkeed">
                <div class="edTBgo for-desktop">
                    <div class="bZFMjS">
                        <div
                            class="gWOzHC">
                            <ul class="links">
                                <li class="euCHsL">
                                    <a href="#">
                                        <span>T &amp;T Zone</span>
                                    </a>
                                </li>
                                <li class="euCHsL">
                                    <a href="#">
                                        <span>Open your Kids &amp;Us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sticky">
                    <div class="bZFMjS wrapper">
                        <a >Logo</a>
                        <div class="gGaVHo">
                            <div>
                                <ul class="links">
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL current primary">
                                        <a href="#">
                                            <span>Method</span>
                                        </a>
                                    </li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root   primary">
                                        <button>
                                            <span>English courses</span>
                                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10"
                                                class="chevron ">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                    fill="#303030"></path>
                                            </svg>
                                        </button>
                                        <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv">
                                            <ul>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>All our English courses</span>
                                                    </a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>Babies from 1 to 2 years old</span>
                                                    </a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>Kids from 3 to 8 years old</span>
                                                    </a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>Pre-teens from 9 to 12 years old</span>
                                                    </a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>Teens from 13 to 18 years old</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root  primary">
                                        <button class class>
                                            <span>English activities</span>
                                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10"
                                                class="chevron ">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                    fill="#303030"></path>
                                            </svg>
                                        </button>
                                        <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv">
                                            <ul>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a href="#">
                                                        <span>All our English activities</span>
                                                    </a>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root">
                                                    <button class class>
                                                        <span>English holiday camps</span>
                                                        <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 16 10" class="chevron ">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                                fill="#303030"></path>
                                                        </svg>
                                                    </button>
                                                    <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv second-level ">
                                                        <ul>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>All Our English Camps</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>English immersion camps</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>English summer camps</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>English sports camps</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>English theme camps</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>English day experience for children</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL root">
                                                    <button class class>
                                                        <span>English workshops</span>
                                                        <svg fill="none" xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 16 10" class="chevron ">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                                                                fill="#303030"></path>
                                                        </svg>
                                                    </button>
                                                    <div class="styles__Dropdown-sc-fqq7yn-5 hLBqCv second-level ">
                                                        <ul>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>All Our English Workshops</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>Storytelling workshop</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>Science workshop for children</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a href="#">
                                                                    <span>Cooking workshop for children</span>
                                                                </a>
                                                            </li>
                                                            <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                                <a
                                                                    href="#"
                                                                    >
                                                                    <span>Theatre workshop in English</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="styles__StyledLink-sc-fqq7yn-4 euCHsL">
                                                    <a data-gtm-event data-gtm-label="/en/activities-english-children/learn-english-home" class href="/en/activities-english-children/learn-english-home" class>
                                                        <span>Learn English at home</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="euCHsL primary">
                                        <a href="#">
                                            <span>English schools</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="edTBgo for-mobile">
                                <div class="gWOzHC">
                                    <ul class="links">
                                        <li class="euCHsL">
                                            <a href="#">
                                                <span>T &amp;T Zone</span>
                                            </a>
                                        </li>
                                        <li class="euCHsL">
                                            <a
                                                href="#">
                                                <span>Open your Kids &amp;Us</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cvMSM">
                                <a href="#" class="vqxsT cta ">Contact us</a>
                            </div>
                        </div>
                        <div class="jGyQWv">
                            <span></span>
                            <div class="text">Menu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>