{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-04/IntroVACAC_FD.png.webp?itok=9s8aYO1Z">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">A morning full of English for children</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="styles__Module-sc-1msdkri-0 hPyRMJ">
        <div title="What are the Cool Off?" size="reader"
             class="styles__Container-sc-1msdkri-1 ikBVbR Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE"><h2>What is the Fun
            Day?
            Off?</h2>
            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span>Through the morning, the Kids&Us schools hold educational and unique activities 100% in English developed by our content creators.</span></span></span>
            </p>

            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span>The aim of the Fun Day is to allow children to continue to be in contact with English outside the classroom. These days are also open to children who have yet to enrol in a Kids&Us school.</span></span></span>
            </p>
        </div>
    </div>

        <div class="QRKUs gQZsNb">
            <div class="dZeSfd jeMOCE" style="width: auto">
                <h2 class="title">What do they consist of?</h2>
                <p class="description">Fun Day is a morning full of English activities exclusive to Kids&Us; various Fun
                    Days are held throughout the year. These days combine fun and language learning during non-school
                    days, which are likely to be working days for families. They consist of the following
                    activities:</p>
            </div>
            <div class="ezsWss jeMOEU">
                <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                     class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 kpAtPx icon">
                        <div class="bg" style=""></div>
                    </div>
                    <div class="title-card">Little Chef</div>
                    <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                         size="reader">Cooking workshops in English designed for children to experiment with food and
                        try new flavors from the Anglo-Saxon culture.
                    </div>
                </div>
                <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                     class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 gjKmof icon">
                        <div class="bg" style=""></div>
                    </div>
                    <div class="title-card">Storytime</div>
                    <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                         size="reader">Storytelling workshop that shares with the little one's familiar stories that
                        encourage them to interact with the characters.
                    </div>
                </div>
                <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                     class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 boZjfP icon">
                        <div class="bg" style=""></div>
                    </div>
                    <div class="title-card">Games and crafts</div>
                    <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                         size="reader">Crafts and gross motor activities in English adapted to each age group that
                        encourage the imagination of the youngest children.
                    </div>
                </div>
            </div>
        </div>

        <div class="hPyRMJ">
            <div class="ikBVbR jeMOCE">
                <h3>Information on the morning-long experience:</h3>
                <ul>
                    <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                    >Ages: this camp is aimed at children ages 3 to 10, whether Kids&Us students or not.</span></span></span>
                    </li>
                    <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                    >Groups: maximum 8 students per group and teacher.</span></span></span>
                    </li>
                    <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                    >Calendar: each school has their own calendar and activity timetable. Contact the school to find out more.</span></span></span>
                    </li>
                    <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                    >Duration: 4 hours</span></span></span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="bdzjHb">
            <div class="jeMOCE" style="width: auto">
                <h3 class="title">Take a look for yourself!</h3></div>
            <div class="dqbnmY jeMOEU" style="width: auto">
                <div class="giYitx">
                    <div class="top">
                        <div class="dXxpSA top_image top_clickable">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Learn-about-the-spaces-designed-for-teaching-English.png?itok=DqyceLa6">
                        </div>
                    </div>
                </div>
                <div class="giYitx">
                    <div class="top">
                        <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/spaces-designed-for-teaching-English.png?itok=zetDnwyV">
                        </div>
                    </div>
                </div>
                <div class="giYitx">
                    <div class="top">
                        <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/designed-for-teaching-English.png?itok=C96MRyPE">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="styles__Module-sc-1c2ep0l-0 fHBHYg">
            <div size="reader" class="styles__Top-sc-1c2ep0l-1 dixsbX Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE">
                <h2 class="title">More holiday camps</h2>
            </div>
            <div size="mainwrapper" class="styles__Container-sc-1c2ep0l-2 jFYyVm Wrappers__Wrapper-sc-10hp9ej-0 jeMOEU">
                <div data-gtm-action="distributor_Summer Fun" data-gtm-category="cta"
                     class="styles__Card-sc-1c2ep0l-3 kSPhkY QRVZRjz">
                    <div class="textZone">
                        <div class="textZone_title">Summer Fun</div>
                        <p class="textZone_text">Summer camps english immersion camps</p>
                        <div class="btnWrapper"><a href="/en/activities-english-children/camps/summer" secondary="1"
                                                   data-gtm-event="" data-gtm-label="All the details_"
                                                   class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the
                            details</a>
                        </div>
                    </div>
                    <div class="imageZone">
                        <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                            <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-07/BILLB_englishandFun_18JL.png.webp?itok=kJ8jYybl">
                        </div>
                    </div>
                </div>
                <div data-gtm-action="distributor_Fun Weeks" data-gtm-category="cta"
                     class="styles__Card-sc-1c2ep0l-3 kSPhkY feUsFf">
                    <div class="textZone">
                        <div class="textZone_title">Fun Weeks</div>
                        <p class="textZone_text">Themed weeks for children ages 3 to 10.</p>
                        <div class="btnWrapper"><a href="/en/activities-english-children/camps/themed-weeks"
                                                   secondary="1"
                                                   data-gtm-event="" data-gtm-label="All the details_"
                                                   class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the
                            details</a>
                        </div>
                    </div>
                    <div class="imageZone">
                        <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                            <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=g6-v8ayz">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jkjmBQ">
            <div class="jkjmBQ jeMOEU">
                <div class="title">You might also be interested in…</div>
                <div class="chtGEk">
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                            </a>
                            <h3 class="title">Our method</h3>
                            <p class="text">Find out more about the method that revolutionised English teaching</p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                            </a>
                            <h3 class="title">Kids&Us Universe</h3>
                            <p class="text">A universe of activities</p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                            </a>
                            <h3 class="title">Our schools</h3>
                            <p class="text">Find your nearest school

                            </p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock main_content %}