{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-07/Campamento%20de%20inmersio%CC%81n%20lingu%CC%88i%CC%81stica%20en%20ingle%CC%81s.png.webp?itok=g-JCvTjN">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">Linguistic immersion camps for children - Kids&Us</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="styles__Module-sc-1msdkri-0 hPyRMJ">
        <div title="What are the Cool Off?" size="reader"
             class="styles__Container-sc-1msdkri-1 ikBVbR Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE"><h2>What are the Cool
            Off?</h2>
            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">The Kids&amp;Us content creators have carefully designed the day-to-day running of our camps to ensure that children enjoy the planned activities while learning English. In addition to learning new vocabulary and structures, we work on highly important values such as tolerance, respect, and coexistence. </span></span></span>
            </p>

            <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/original/public/2022-11/Planned-activities-to-learn-English-Kids-and-Us.png?itok=kLa11G3k"
                 alt="in cool off camp your children learn vocabulary and new structures of the English language"></div>
    </div>

    <div class="QRKUs gQZsNb">
        <div class="dZeSfd jeMOCE" style="width: auto">
            <h2 class="title">Cool Off 2023: Thai Wishes</h2>
            <p class="description">Each year the Cool Off takes us around the world to learn about new cultures, that
                way the students immerse themselves in the English language and a new culture too. This year the
                students will journey to Thailand, full of beautiful landscapes and fantastic animals. What’s more, they
                will meet the kind and cheerful people who live there. Throughout the week, each group will live endless
                adventures with one objective: discovering everything this wonderful culture has to offer. To gain
                firsthand experience, the children will have to dedicate all their energy and work as a team to complete
                the challenges they will be tasked to complete: an adventure through the forests in Thailand, nighttime
                games, water challenges, traditional sports such as Sepak Takraw... By the end of the week, they’ll be
                authentic Thai experts!</p></div>
        <div class="ezsWss jeMOEU">
            <div class="kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 bzgrit icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Staff Performance</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">Our camp leaders become the characters of a magnificent story.
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 ihzbkm icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Inside Out</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">Traditional games, songs, and different activities to continue practising English in
                    small groups.
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 bUKNga icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Night Out</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">A night out together under the stars!
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 kgGzJd icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Themed dinner</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                >Group dinner set in the Maasai culture, followed by a good dance.
                </div>
            </div>
        </div>
    </div>

    <div class="blKpdY jeMOCE"><h2
            class="title">Everything you need to know about the Cool Off</h2>
        <div onclick="open1()" class="styles__Box-sc-wdy053-1 BRrDi">Will there be health and safety measures in
            place?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show1" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">At Kids&amp;Us we have implemented new safety and hygiene protocols and adapted our activities to ensure that we comply with all the measures laid down by the health authorities.</span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open2()" class="styles__Box-sc-wdy053-1 BRrDi">What is the procedure if a child does not feel well
            during the camp?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show2" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">There is a nearby medical centre that we use in case a situation like this arises. And, naturally, we call the family and inform them of the situation. </span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open3()" class="styles__Box-sc-wdy053-1 BRrDi">Will there be someone who speaks Catalan or
            Spanish?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show3" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">The camp leaders can only speak English and, in fact, the children do not know if they speak or understand another language. However, the camp manager can speak in Catalan or Spanish.&nbsp; This person will act as an intermediary if necessary.</span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open4()" class="styles__Box-sc-wdy053-1 BRrDi">How are the groups made?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show4" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">By age and English level of each child. In addition, whenever possible, we will take into account whether they have friends with whom they would like to share the experience. </span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open5()" class="styles__Box-sc-wdy053-1 BRrDi">What is the cancellation policy?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show5" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">If a family cancels at least one month in advance, or for reasons of force majeure, 50% of the amount will be refunded. If the organisation is forced to cancel the service due to restrictions related to COVID-19, the full amount will be refunded, except for the costs of hiring or services rendered.</span></span></span>
            </p>
            </div>
        </div>
    </div>



    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Find out more about our lodges!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-out-what-the-fun-Cool-Off-Kids-and-Us.png?itok=ZBYi1D5S">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-out-what-the-fun-Cool-Off.png?itok=7sLJv3QH">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/the-fun-Cool-Off-Kids-and-Us.png?itok=-ODuspli">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="styles__Module-sc-1c2ep0l-0 fHBHYg">
        <div size="reader" class="styles__Top-sc-1c2ep0l-1 dixsbX Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE">
            <h2 class="title">More holiday camps</h2>
        </div>
        <div size="mainwrapper" class="styles__Container-sc-1c2ep0l-2 jFYyVm Wrappers__Wrapper-sc-10hp9ej-0 jeMOEU">
            <div data-gtm-action="distributor_Summer Fun" data-gtm-category="cta"
                 class="styles__Card-sc-1c2ep0l-3 kSPhkY">
                <div class="textZone">
                    <div class="textZone_title">Summer Fun</div>
                    <p class="textZone_text">Summer camps english immersion camps</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/summer" secondary="1"
                                               data-gtm-event="" data-gtm-label="All the details_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the details</a>
                    </div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                        <picture>
                            <source type="image/webp"
                                    srcset="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/large_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=Dvngx30x 1024w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/medium_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=RZhj-thx 960w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/small_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=--K5M2eG 640w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=g6-v8ayz 1280w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xsmall_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=-ry_Z7oH 480w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xxsmall_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=tJXnzIae 376w"
                                    sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                            <source type="image/png"
                                    srcset="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/large/public/2022-08/BILLB_SummerF_18JL.png?itok=N8AlY-oF 1024w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/medium/public/2022-08/BILLB_SummerF_18JL.png?itok=hlbvcydB 960w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/small/public/2022-08/BILLB_SummerF_18JL.png?itok=1_T-Nyh5 640w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge/public/2022-08/BILLB_SummerF_18JL.png?itok=ozYt3ne7 1280w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xsmall/public/2022-08/BILLB_SummerF_18JL.png?itok=p6LY4UU6 480w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xxsmall/public/2022-08/BILLB_SummerF_18JL.png?itok=E3rGVdLC 376w"
                                    sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/BILLB_SummerF_18JL.png?itok=fmusPFDr"
                                 sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt=""></picture>
                    </div>
                </div>
            </div>
            <div data-gtm-action="distributor_Fun Weeks" data-gtm-category="cta"
                 class="styles__Card-sc-1c2ep0l-3 kSPhkY jbfpn">
                <div class="textZone">
                    <div class="textZone_title">Fun Weeks</div>
                    <p class="textZone_text">Themed weeks for children ages 3 to 10.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/themed-weeks" secondary="1"
                                               data-gtm-event="" data-gtm-label="All the details_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the details</a>
                    </div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                        <picture>
                            <source type="image/webp"
                                    srcset="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/large_webp/public/2022-08/introACTIV2_0.png.webp?itok=rqg3Y-5x 1024w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/medium_webp/public/2022-08/introACTIV2_0.png.webp?itok=3TSCJO5I 960w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/small_webp/public/2022-08/introACTIV2_0.png.webp?itok=5tCGejOE 640w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-08/introACTIV2_0.png.webp?itok=sWUvPeaT 1280w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xsmall_webp/public/2022-08/introACTIV2_0.png.webp?itok=smdcS_Gz 480w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xxsmall_webp/public/2022-08/introACTIV2_0.png.webp?itok=XTS9UnqN 376w"
                                    sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                            <source type="image/png"
                                    srcset="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/large/public/2022-08/introACTIV2_0.png?itok=dmq6YdRm 1024w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/medium/public/2022-08/introACTIV2_0.png?itok=sdmU9wab 960w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/small/public/2022-08/introACTIV2_0.png?itok=FrmljROg 640w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge/public/2022-08/introACTIV2_0.png?itok=tYdwyyWI 1280w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xsmall/public/2022-08/introACTIV2_0.png?itok=u5cFXr8A 480w, https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xxsmall/public/2022-08/introACTIV2_0.png?itok=Tomr1MYr 376w"
                                    sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/introACTIV2_0.png?itok=XQfUfE-q"
                                 sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt=""></picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>

    {% block script %}
        <script>
            function open1() {
                document.getElementById("show1").style.display = 'block';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open2() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'block';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open3() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'block';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open4() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'block';
                document.getElementById("show5").style.display = 'none';
            }

            function open5() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'block';
            }

            window.onclick = function (event) {
                if (!event.target.matches('.BRrDi')) {
                    let dropdowns = document.getElementsByClassName("kdQnSX");
                    for (let i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        openDropdown.style.display = 'none';
                    }
                }
            }
        </script>
    {% endblock script %}
{% endblock main_content %}