{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-07/BILLB_CAMPAMENTS_15JL.png.webp?itok=PBDXdvVE">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">English camps during the holidays</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="hPyRMJ">
        <div size="reader" class="ikBVbR jeMOCE"><p
                style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">English during the holidays.&nbsp;Choose the best time of year for your children to learn in and enjoy their holidays in English!</span></span></span>
        </p>
        </div>
    </div>

    <div class="iCkyga">
        <div class="jFYyVm jeMOEU">
            <div class="fJUblt">
                <div class="textZone">
                    <div class="textZone_title">Fun Weeks</div>
                    <p class="textZone_text">Themed weeks for children aged 3 to 10.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/themed-weeks"
                                               class="lmEcaw btn">More info</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper leTRdU imageZone_image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/FW_19JL.png?itok=A_yvlp_y">
                    </div>
                </div>
            </div>
            <div class="kRztPR">
                <div class="textZone">
                    <div class="textZone_title">English&amp;Fun</div>
                    <p class="textZone_text">Sports day in English for children aged 3 to 10.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/sport"
                                               class="lmEcaw btn">More info</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper sleTRdU imageZone_image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/IntroVACAC_EF.png?itok=M-5ZYn6F">
                    </div>
                </div>
            </div>
            <div class="kRztPR spkn">
                <div class="textZone">
                    <div class="textZone_title">Fun Day</div>
                    <p class="textZone_text">Fun-packed mornings in English for children aged 3 to 10.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/fun-day"
                                               class="lmEcaw btn">More info</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper leTRdU imageZone_image">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/IntroVACAC_FD.png?itok=50LHk_Ux">
                    </div>
                </div>
            </div>
            <div class="kRztPR bAQdBy">
                <div class="textZone">
                    <div class="textZone_title">Cool Off</div>
                    <p class="textZone_text">Linguistic immersion camp for children aged 7 to 13.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/linguistic-immersion"
                                               class="lmEcaw btn">More info</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper leTRdU imageZone_image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/IntroVACAC_CO.png?itok=JMSJ03YW">
                    </div>
                </div>
            </div>
            <div class="kRztPR ddVoYN">
                <div class="textZone">
                    <div class="textZone_title">Summer Fun</div>
                    <p class="textZone_text">English summer camp for children aged 3 to 12.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/summer"
                                               class="lmEcaw btn">More info</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper leTRdU imageZone_image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/BILLB_SummerF_18JL.png?itok=fmusPFDr">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}