{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-08/IntroVACAC_FW.png.webp?itok=OjhrOVkM">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">English day camps for children</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="styles__Module-sc-1msdkri-0 hPyRMJ">
        <div title="What are the Cool Off?" size="reader"
             class="styles__Container-sc-1msdkri-1 ikBVbR Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE"><h2>What are the Fun
            Weeks?
            Off?</h2>
            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">
Throughout the holidays it’s important to find activities that entertain the children.  With the aim to provide this, Kids&Us has created fun-packed themed camps in English.</span></span></span>
            </p>

            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">
The Fun Weeks puts English into context in a way adequate to each age group using games, dance, theatre, and craft. These activities allow the participants to learn new vocabulary and expressions in English.            </span></span></span>
            </p>
            <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/original/public/2022-11/Your-child-learns-English-at-the-camps-Kids-and-Us.png?itok=y_poJXr7"
                 alt="in cool off camp your children learn vocabulary and new structures of the English language"></div>
    </div>


    <div class="QRKUs gQZsNb">
        <div class="dZeSfd jeMOCE" style="width: auto">
            <h2 class="title">What do the camps consist of?</h2>
            <p class="description">Throughout the holidays it’s important to find activities that entertain the
                children. With the aim to provide this, Kids&Us has created fun-packed themed camps in English. The Fun
                Weeks puts English into context in a way adequate to each age group using games, dance, theatre, and
                craft. These activities allow the participants to learn new vocabulary and expressions in English.</p>
        </div>
        <div class="ezsWss jeMOEU">
            <div class="kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 hZlNQd icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Psychomotor activities</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">Designed to play games that allow children to interact with each other.
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 gjKmof icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Storytime</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">Stories developed by our content creators, adapted to the age range and theme of each
                    week.
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 boZjfP icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Crafts</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                     size="reader">We make crafts related to the weekly theme (masks, costumes, animal figures... and
                    much more!).
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 gSLwcZ icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Market</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                >A market will be organized twice a week, where children will become shoppers. They will have to use the
                    appropriate expressions to ask for the breakfast they want in English.
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 ldsNRO icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Songs</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                >Our very own songs that revolve around the theme, designed to be sung and danced to!
                </div>
            </div>
            <div data-gtm-action="icon-text_Linda" data-gtm-category="cta"
                 class="styles__Card-sc-1x6dxdu-3 kIuzyi pointer">
                <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 fjCXhZ icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Staff Performance</div>
                <div class="styles__Container-sc-1msdkri-1 jriswU Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE description-card"
                >Our camp leaders take to the stage. They dress up and perform in front of the children, who play the
                    role of fans very well.
                </div>
            </div>
        </div>
    </div>

    <div class="hPyRMJ">
        <div class="ikBVbR jeMOCE">
            <h3>Information on the camp</h3>
            <ul>
                <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                        >Ages: aimed at children ages 3 to 10.</span></span></span>
                </li>
                <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                        >Groups: maximum 10 students per group and teacher. Separated by age: 3 to 4 year-olds, 5 to 6- year-olds, and 7 to 10-year-olds).</span></span></span>
                </li>
                <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                        >Calendar: school holiday periods (Halloween, Christmas, winter, Easter, and summer).</span></span></span>
                </li>
                <li style="margin-left:8px"><span style="font-size:11pt"><span style="line-height:107%"><span
                        >Duration: usually 9:00-13:00. Contact the school to find out more.</span></span></span>
                </li>
            </ul>
        </div>
    </div>


    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Take a look for yourself!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Activities-to-learn-English-while-playing-Kids-and-Us.png?itok=xZwaekTZ">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Your-child-will-learn-English-having-fun-Kids-and-Us.png?itok=FJcRWgCJ">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/The-English-language-with-a-touch-of-fun-Kids-and-Us.png?itok=IvwEOtxt">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="styles__Module-sc-1c2ep0l-0 fHBHYg">
        <div size="reader" class="styles__Top-sc-1c2ep0l-1 dixsbX Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE">
            <h2 class="title">More holiday camps</h2>
        </div>
        <div size="mainwrapper" class="styles__Container-sc-1c2ep0l-2 jFYyVm Wrappers__Wrapper-sc-10hp9ej-0 jeMOEU">
            <div data-gtm-action="distributor_Summer Fun" data-gtm-category="cta"
                 class="styles__Card-sc-1c2ep0l-3 kSPhkY QRVZRjz">
                <div class="textZone">
                    <div class="textZone_title">Summer Fun</div>
                    <p class="textZone_text">Summer camps english immersion camps</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/summer" secondary="1"
                                               data-gtm-event="" data-gtm-label="All the details_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the details</a>
                    </div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-07/BILLB_englishandFun_18JL.png.webp?itok=kJ8jYybl">
                    </div>
                </div>
            </div>
            <div data-gtm-action="distributor_Fun Weeks" data-gtm-category="cta"
                 class="styles__Card-sc-1c2ep0l-3 kSPhkY ddVoYN">
                <div class="textZone">
                    <div class="textZone_title">Fun Weeks</div>
                    <p class="textZone_text">Themed weeks for children ages 3 to 10.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/themed-weeks" secondary="1"
                                               data-gtm-event="" data-gtm-label="All the details_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">All the details</a>
                    </div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-08/BILLB_SummerF_18JL.png.webp?itok=g6-v8ayz">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}