{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ iuerg">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-07/DETALLKIDS_billboard_0.png.webp?itok=qnaAXPEH">
                </div>
            </div>
            <div class="GSXFq"><h1 class="title">English courses for babies ages 1 to
                2 </h1></div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="ddMLkC">
        <div class="dZeSfd jeMOCE" style="width: auto">
            <h2 class="title">The children learn English without realising</h2>
            <p class="description">
                By recreating situations they are familiar with, the children ages 3 to 8 learn
                English in a natural way. The stories of Sam, Emma, Oliver, Marcia, Pam&Paul, and Ben&Brenda spark their
                imagination and curiosity to continue learning the language.
            </p>
        </div>
        <div class="ezsWss jeMOEU" style="width: auto">
            <div class="kIuzyi pointer">
                <div class="gTomBR icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Sam</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 3 and over
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="QMfrU icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Emma</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 4 and over
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="fCURay icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Oliver</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 5 and over
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="fIPCPV icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Marcia</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 5 and over
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="BJNjI icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Pam&Paul</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 7 and over
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="eYgJyP icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Ben&Brenda</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 8 and over
                </div>
            </div>
        </div>

    </div>
    <div class="gQZsNb">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for children aged 3 and over</p>
                    <h2 class="title">Sam</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> hand-in-hand with Sam, the children
                        explore their surroundings and gain independence both in the activities they perform in the
                        classroom as the ones they perform outside the classroom, like going to the bathroom or putting
                        a jacket on. Each opportunity is a good excuse to talk in English.</p>

                        <p><strong>Class duration:</strong>1 hour, once a week.</p>

                        <p><strong>Small groups:</strong>each class has a maximum of 8 students.</p>

                        <p><strong>The families’ role:</strong> so that learning is as efficient as possible during
                            childhood, it is important to dedicate time to the language at home. For this reason, we
                            have created an audio track that they have to listen to daily.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/SAM_1200_24OCT_0.png?itok=Os9rZzh1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for children aged 4 and over </p>
                    <h2 class="title">Emma</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> with Emma, English becomes a habit.
                        Through song, the children practice intonation and the rhythm of the English language. The
                        stories and audiobooks are also excellent allies to discover new expressions.</p>

                        <p><strong>Class duration:</strong> 1 hour, once a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> so that learning English is as efficient as possible during
                            childhood it is important to dedicate time to the language at home. For this reason, we have
                            created an audio track that they have to listen to daily.</p>
                        <p><em>New students are advised to visit the nearest school to find out the most suitable course
                            for accessing the method, based on their aged and the background. Once correctly placed, the
                            students will progress through the Kids&amp;Us courses.</em></p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/EMMA_1200_24OCT_0.png.webp?itok=ra-NS13v"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gQZsNb">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for children aged 5 and over</p>
                    <h2 class="title">Oliver</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong>through the stories that Oliver
                        experiences, like losing a tooth, being ill, or wanting to help mum and dad at home, the
                        children get in touch with structures such as the past simple and present continuous.</p>

                        <p><strong>Class duration:</strong> 1 hour, once a week.</p>

                        <p><strong>Small groups:</strong>each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong>New students are advised to visit the nearest school to find out the
                            most suitable course for accessing the method, based on their aged and the background. Once
                            correctly placed, the students will progress through the Kids&Us courses.</p>
                        <p><em>New students are advised to visit the nearest school to find out the most suitable course
                            for accessing the method, based on their aged and the background. Once correctly placed, the
                            students will progress through the Kids&Us courses.</em></p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/OLIVER_1200_24OCT_0.png.webp?itok=L29k88g1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for children aged 6 and over</p>
                    <h2 class="title">Marcia</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> Marcia has magic powers and she is the
                        children’s companion for this course. Through extraordinary situations, they learn to use
                        irregular verbs and the auxiliary verbs. They also start to better understand the concepts
                        related to time such as today, yesterday, tomorrow, or last week.</p>

                        <p><strong>Class duration:</strong> 1 hour, once a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> so that learning is as efficient as possible during childhood, it
                            is important to dedicate time to the language at home. For this reason, we have created an
                            audio track that they have to listen to daily.</p>
                        <p><em>New students are advised to visit the nearest school to find out the most suitable course
                            for accessing the method, based on their aged and the background. Once correctly placed, the
                            students will progress through the Kids&Us courses.</em></p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/MARCIA_1200_24OCT.png.webp?itok=ea5QZ1tN"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gQZsNb">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for children aged 7 and over</p>
                    <h2 class="title">Pam&Paul</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong>the cheeky twins Pam&Paul make the
                        children’s imagination run wild with stories that mix fantasy and reality. In this course, we
                        work on the verb to be in affirmative and negative. The students understand and use common
                        expressions to introduce themselves.</p>

                        <p><strong>Class duration:</strong> 1 hour, once a week.</p>

                        <p><strong>Small groups:</strong>each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong>New students are advised to visit the nearest school to find out the
                            most suitable course for accessing the method, based on their aged and the background. Once
                            correctly placed, the students will progress through the Kids&Us courses.</p>
                        <p><em>New students are advised to visit the nearest school to find out the most suitable course
                            for accessing the method, based on their aged and the background. Once correctly placed, the
                            students will progress through the Kids&Us courses.</em></p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/PAMIPAUL_1200_24OCT.png.webp?itok=e0ThggsW">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for children aged 8 and over</p>
                    <h2 class="title">Ben&Brenda</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> in this course, by practising written
                        English and adding spoken English which is worked on in class, the students progressively become
                        more literate. Alongside Ben&Brenda, they take on an interesting format filled with new
                        adventures with which they improve their reading comprehension.</p>

                        <p><strong>Class duration:</strong> 1 hour, once a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> so that learning is as efficient as possible during childhood, it
                            is important to dedicate time to the language at home. For this reason, we have created an
                            audio track that they have to listen to daily.</p>
                        <p><em>New students are advised to visit the nearest school to find out the most suitable course
                            for accessing the method, based on their aged and the background. Once correctly placed, the
                            students will progress through the Kids&Us courses.</em></p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/BENANDBRENDA_1200_24OCT.png.webp?itok=vYZ2aFei"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dZNrZM">
        <div class="fbjeFe jeMOEU">
            <a class="hidden_modile_web" href="https://cta-redirect.hubspot.com/cta/redirect/5313163/d99971e3-b46a-41a5-88a8-696b836746e3">
                <img style="border-width:0;"
                     height="316" width="1280"
                     src="https://no-cache.hubspot.com/cta/default/5313163/d99971e3-b46a-41a5-88a8-696b836746e3.png"
                     alt="Nueva llamada a la acción">
            </a>
            <a class="hidden_modile_image" href="https://cta-redirect.hubspot.com/cta/redirect/5313163/84539f87-1867-4e98-a403-d7f9d110f5d2">
                <img style="border-width:0;"
                    height="380" width="327"
                    src="https://no-cache.hubspot.com/cta/default/5313163/84539f87-1867-4e98-a403-d7f9d110f5d2.png"
                    alt="Nueva llamada a la acción">
            </a>
        </div>
    </div>

    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Join a Kids&amp;Us class!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy-Kids-and-Us.png?itok=WZGst5Qp">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/classrooms-of-the-English-academy-Kids-and-Us.png?itok=EUywKo2Q">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy.png?itok=aD8IemoI">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="jkjmBQ">
            <div class="jkjmBQ jeMOEU">
                <div class="title">You might also be interested in…</div>
                <div class="chtGEk">
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                            </a>
                            <h3 class="title">Our method</h3>
                            <p class="text">Find out more about the method that revolutionised English teaching</p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                            </a>
                            <h3 class="title">Kids&Us Universe</h3>
                            <p class="text">A universe of activities</p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                    <div class="ldoSGc">
                        <div>
                            <a href="#">
                                <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                            </a>
                            <h3 class="title">Our schools</h3>
                            <p class="text">Find your nearest school

                            </p>
                            <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                          fill="#fff"></path>
                                </svg>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock main_content %}