{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="gVvRin">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-03/INTROCURSOS_billboard.png?itok=_VVhCmTj"/>
                </div>
            </div>
            <div class="GSXFq"><p class="claim">Courses adapted to the experiences of all ages</p>
                <h1 class="title">English courses for children</h1></div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="gcjMaM image" aria-hidden="true" alt=""></div>
    </div>
    <div class="eOYysF">
        <div class="hPyRMJ">
            <div class="ikBVbR jeMOCE wysiwyg false"
                 size="reader"><p>The stories and characters that accompany our students throughout the English
                courses live experiences similar to their reality and are adapted to their age. This parallelism
                allows them to learn useful English which they can apply to their own experiences, likes, and
                habits. </p></div>
        </div>
    </div>

    <div class="kZnqWE jkzbf">
        <div class="fFMcZx">
            <div class="hDGcnD bZFMjS ">
                <div class="wPaNM">
                    <p class="subtitle">Babies</p>
                    <h2 class="title">English courses for babies ages 1 to 2</h2>
                    <div class="text">
                        <p>From the moment they are born, Babies are ready to learn a language. At Kids&Us we make
                            the most of this opportunity to motivate their learning through the senses.</p>
                    </div>
                    <div class="ctaContainer">
                        <a href="#" class="iqsjyF">Read more</a>
                    </div>
                </div>
                <div class="gdfoRf">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/INTRO_BABY_1200_26OCT.png?itok=miJm3MVM"
                         sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="kZnqWE Kejbb">
        <div class="fFMcZx">
            <div class="hDGcnD bZFMjS reverse">
                <div class="wPaNM">
                    <p class="subtitle">Kids</p>
                    <h2 class="title">English courses for children ages 3 to 10</h2>
                    <div class="text">
                        <p>In the Kids stage, playing games and interacting with the rest of the group are the key
                            accelerators of learning. We adapt the materials to suit the interests and motivations
                            of our students through song, reading, and dynamic activities.</p>
                    </div>
                    <div class="ctaContainer">
                        <a href="#" class="iqsjyF">Read more</a>
                    </div>
                </div>
                <div class="gdfoRf">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/INTRO_KID_1200_26OCT.png?itok=udvg1OT9"
                         sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="kZnqWE iuerg">
        <div class="fFMcZx">
            <div class="hDGcnD bZFMjS">
                <div class="wPaNM">
                    <p class="subtitle">Tweens</p>
                    <h2 class="title">English courses for children ages 9 to 12</h2>
                    <div class="text">
                        <p>At Kids&Us we encourage the children to talk about the world around them and about the
                            person they are becoming; that way, English accompanies them on their personal growth.
                            The speaking skills they acquired in the previous courses allows them to consolidate
                            literacy.</p>
                    </div>
                    <div class="ctaContainer">
                        <a href="#" class="iqsjyF">Read more</a>
                    </div>
                </div>
                <div class="gdfoRf">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/INTRO_TWEEN_1200_26OCT.png?itok=S2MnHUhy"
                         sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="kZnqWE">
        <div class="fFMcZx">
            <div class="hDGcnD bZFMjS reverse">
                <div class="wPaNM">
                    <p class="subtitle">Teens</p>
                    <h2 class="title">English courses for teens ages 13 to 18</h2>
                    <div class="text">
                        <p>Our teens are now able to communicate in English using a variety of structures which
                            improves their fluency and spontaneity. At Kids&Us, we encourage critical thinking, and
                            we prepare our teens to face the future with confidence.</p>
                    </div>
                    <div class="ctaContainer">
                        <a href="#" class="iqsjyF">Read more</a>
                    </div>
                </div>
                <div class="gdfoRf">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/INTRO_TEEN_1200_26OCT.png?itok=rLseeXfE"
                         sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}