{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ elhrUH">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/DetallTWEENS_billboard.png?itok=bjt4uXgl">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">English courses for pre-teens ages 9 to 12</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>


    <div class="ddMLkC bAQdBy">
        <div class="dZeSfd jeMOCE" style="width: auto">
            <h2 class="title">The pre-teens learn English through their curiosity</h2>
            <p class="description">
                At this age, the children are at a stage of self-discovery. In the Animal Planet and Fairy Tales
                courses, we encourage them to develop their creative and communication skills so they can express their
                opinion in English in familiar situations.
            </p>
        </div>
        <div class="ezsWss jeMOEU" style="width: auto">
            <div class="kIuzyi pointer">
                <div class="gTomBR icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Animal Planet 1</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 9
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="QMfrU icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Fairy Tales 1</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 10
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="fCURay icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Fairy Tales 2</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 11
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="fIPCPV icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Marcia</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for children aged 12
                </div>
            </div>
        </div>

    </div>

    <div class="gQZsNb eciPsf">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for children aged 9</p>
                    <h2 class="title">Animal Planet 1</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> in these classes, the 9-year-old children
                        learn vocabulary related to nature, animals, and taking care of the planet, by joining Alexandra
                        on her adventures. The readings are more extense and they perfect their oral communication with
                        short dialogues in English which are useful for day-to-day life.</p>

                        <p><strong>Class length:</strong>60 minutes, twice a week.</p>

                        <p><strong>Small groups:</strong>each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> the topics covered in class address the challenges and dreams of
                            the pre-teens’ day-to-day lives, which is a reason to put them into practise in a real-life
                            situation, like whilst at home.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/ANIMAL-PLANET_1200_26OCT.png?itok=dV1qUCDD">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for children aged 10</p>
                    <h2 class="title">Animal Planet 2</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> For the second part of Animal Planet, we
                        revise different themes to expand their English vocabulary and grammatical structures. The
                        children learn how to buy or order food in a restaurant, and they can also explain how their
                        holidays went or give recommendations about how to fight climate change.</p>

                        <p><strong>Class length:</strong> 60 minutes, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> the topics covered in class address the challenges and dreams of
                            the pre-teens’ day-to-day lives, which is a reason to put them into practise in a real-life
                            situation, like whilst at home.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/ANIMAL-PLANET2_1200_26OCT.png.webp?itok=-6DSoPYv"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gQZsNb iXOrmS">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for children aged 11</p>
                    <h2 class="title">Fairy Tales 1</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> In this course, we adapt traditional fairy
                        tales to a more contemporary setting. For example, in Red Riding Hoody, Little Red Riding Hood
                        is now a champion BMX rider and in Sidney and his Lucky Scarf, Cinderella is a boy who moves in
                        with his family abroad and they take advantage of the fact he doesn’t know much English.</p>

                        <p><strong>Class lenght:</strong> Ninety minutes, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> the topics covered in class address the challenges and dreams of
                            the pre-teens’ day-to-day lives, which is a reason to put them into practise in a real-life
                            situation, like whilst at home.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/FAIRYTALES1_1200_26OCT.png.webp?itok=hUgwBa9a">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for children aged 12</p>
                    <h2 class="title">Fairy Tales 2</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> through James’ story, we cover values and
                        difficult situations for the 12-year-olds. Being able to relate to these topics helps keep them
                        motivated, and it allows them to feel comfortable when expressing themselves in English.</p>

                        <p><strong>Class length:</strong> 90 minutes, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> the topics covered in class address the challenges and dreams of
                            the pre-teens’ day-to-day lives, which is a reason to put them into practise in a real-life
                            situation, like whilst at home.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/2_FAIRYTALES2_1200_26OCT.png.webp?itok=cg8IWvON"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Join a Kids&amp;Us class!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy-Kids-and-Us.png?itok=WZGst5Qp">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/classrooms-of-the-English-academy-Kids-and-Us.png?itok=EUywKo2Q">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy.png?itok=aD8IemoI">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}