{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-04/detallTEENS_billboard.png.webp?itok=KItw2841">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">English courses for teens ages 13 to 18</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="ddMLkC ddVoYN">
        <div class="dZeSfd jeMOCE" style="width: auto">
            <h2 class="title">The teenagers learn English for their future.</h2>
            <p class="description">
                Reaching adolescence with a good level of English provides the teenagers with confidence to build their
                identity and future. Thanks to their grasp of the language, they can communicate fluently, correctly,
                and using nuanced vocabulary which allows them to show the world who they are.
            </p>
        </div>
        <div class="ezsWss jeMOEU" style="width: auto">
            <div class="kIuzyi pointer">
                <div class="eYBugo icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Mysteries 1</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 13
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="gUgsJs icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Mysteries 2</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 14
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="gbGUja icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">The Future 1</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 15
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="dzqqvq icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">The Future 2</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 16
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="fsXkjk icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Subscription 1</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 17
                </div>
            </div>
            <div class="kIuzyi pointer" data-gtm-action="icon-text_Sam">
                <div class="klLPYg icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Subscription 2</div>
                <div class="jriswU jeMOCE description-card"
                     size="reader">English for teenagers aged 18
                </div>
            </div>
        </div>

    </div>

    <div class="gQZsNb eciPsf">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for teenagers aged 13</p>
                    <h2 class="title">Mysteries 1</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> in this course, Spike, our protagonist,
                        and his class travel to the fabulous Caribbean island of Looet, but upon their arrival they
                        realise one of their classmates is missing. By solving a variety of mysteries, our students
                        learn a wide variety of verbs and they begin to understand grammar rules.</p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>Level:</strong> B2 equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/MYSTERIES1_1200_26OCT.png.webp?itok=XWf9pknA">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for teenagers aged 14</p>
                    <h2 class="title">Mysteries 2</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> in Mysteries 2 the teenagers perfect their
                        writing skills by working on longer texts such as essays, stories, articles, or reports that use
                        complex structures. All this whilst simultaneously reinforcing their oral fluency by asking them
                        questions about their daily routines.</p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> B2 equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/MYSTERIES2_1200_26OCT.png.webp?itok=mwFluH1P"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gQZsNb eciPsf">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for teenagers aged 15</p>
                    <h2 class="title">The Future 1</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> in this course, the teenagers learn how to
                        express and defend their point of view through two stories: the first one is about a dystopian
                        future where politicians are elected on a reality show. In the second one, they travel to the
                        future to learn that after an ecological disaster part of the Earth has been flooded. </p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>Level:</strong> C1 equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/FUTURE1_1200_26OCT.png.webp?itok=fl8yVTLE">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for teenagers aged 16</p>
                    <h2 class="title">The Future 2</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> as the teenagers grow older, they acquire
                        more knowledge of the world around them. At Kids&Us, whilst reflecting on the world’s current
                        problems, they also strengthen their linguistic ability. The students learn new vocabulary and
                        are even able to tell apart words that are, seemingly, synonyms.</p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> C1 equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/FUTURE2_1200_26OCT.png.webp?itok=k5PSsOWt"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gQZsNb eciPsf">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS">
                <div class="fSgAsj"><p class="subtitle">English for teenagers aged 17</p>
                    <h2 class="title">Subscription 1</h2>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p><strong>Course objectives:</strong> for this course we have created our own
                        magazines in English. Within them we cover current affairs with grammatical structures that
                        correspond to the C1 level. By facing real-life situations, the 17-year-olds gain fluency in the
                        language and enhance their critical thinking skills. </p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>Level:</strong> C1+ equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/SUBSCRIPTION1_1200_26OCT.png.webp?itok=dtlY31Z1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lbRutw">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS reverse">
                <div class="ebhuiX">
                    <p class="subtitle">English for teenagers aged 18</p>
                    <h2 class="title">Subscription 2</h2>
                    <div class="jriswU jeMOCE text" style="width: auto;"
                         size="reader"><p><strong>Course objectives:</strong> we focus on students being able to express
                        themselves spontaneously, fluently, and accurately in English in any given circumstance. They
                        will be able to distinguish subtle nuances in meaning. Our teachers will prepare them to write
                        complex texts in English, with styles and registers appropriate to their age, as well as how to
                        use appropriate vocabulary and expressions according to the context.</p>

                        <p><strong>Class length:</strong> 1 hour and a half, twice a week.</p>

                        <p><strong>Small groups:</strong> each class has a maximum of 8 students.</p>

                        <p><strong>At home:</strong> C2 equivalent of the Common European Framework of Reference.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class=" leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/SUBSCRIPTION2_1200_26OCT.png.webp?itok=zqK9DRvE"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Join a Kids&amp;Us class!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy-Kids-and-Us.png?itok=WZGst5Qp">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/classrooms-of-the-English-academy-Kids-and-Us.png?itok=EUywKo2Q">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Meet-the-classrooms-of-the-English-academy.png?itok=aD8IemoI">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}