{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-08/introACTIV_billboard.png.webp?itok=4kaeJGCO">
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">Activities in English for children</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="hPyRMJ">
        <div class="ikBVbR jeMOCE">
            <h3>Activities in English for children</h3>
            <p>
                At Kids&amp;Us we want English to extend beyond the classroom. That’s why we have created a universe of
                activities in English to consolidate their learning experience.&nbsp;
            </p>
        </div>
    </div>

    <div class="styles__Module-sc-1c2ep0l-0 fHBHYg">
        <div size="reader" class="styles__Top-sc-1c2ep0l-1 dixsbX Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE"></div>
        <div size="mainwrapper" class="styles__Container-sc-1c2ep0l-2 jFYyVm Wrappers__Wrapper-sc-10hp9ej-0 jeMOEU">
            <div class="styles__Card-sc-1c2ep0l-3 kRztPR">
                <div class="textZone">
                    <div class="textZone_title">English during the holidays</div>
                    <p class="textZone_text">At Kids we organise activities throughout the holiday periods. </p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps" secondary="1"
                                               data-gtm-event="" data-gtm-label="Discover our activities_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">Discover our
                        activities</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/introACTIV1.png?itok=eo2zS6JA">
                    </div>
                </div>
            </div>
            <div class="styles__Card-sc-1c2ep0l-3 kRztPR feUsFf">
                <div class="textZone">
                    <div class="textZone_title">Themed workshops in English</div>
                    <p class="textZone_text">The objective is that the children associate English with their favourite
                        activities. </p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/workshops" secondary="1"
                                               data-gtm-event="" data-gtm-label="Discover our workshops_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">Discover our
                        workshops</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/introACTIV2_0.png?itok=XQfUfE-q">
                    </div>
                </div>
            </div>
            <div class="styles__Card-sc-1c2ep0l-3 kRztPR kSPhkY">
                <div class="textZone">
                    <div class="textZone_title">Learn English at home</div>
                    <p class="textZone_text">Visit our online shop full of games and books in English for all ages. </p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/learn-english-home" secondary="1"
                                               data-gtm-event="" data-gtm-label="Discover our products_"
                                               class="Button__ButtonSmall-sc-1673ff8-3 FvcrY btn">Discover our
                        products</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 leTRdU imageZone_image">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/introACTIV3.png?itok=kaXMCR1t">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}