* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 1.45;
    height: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

ul,
ol {
    list-style: none;
    padding: 0;
}


@media (min-width: 60em) {
    body {
        font-family: Arial, sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0rem;
        line-height: 1.42;
    }
}

/*!sc*/
.gQkeed {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1080;
}

/*!sc*/
.gQkeed .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/*!sc*/
@media (min-width: 60em) {
    .gQkeed .links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
    }
}

/*!sc*/
.gQkeed .sticky {
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3.375rem;
    pointer-events: initial;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
    will-change: background;
}

.bZFMjS {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 100%;
}

/*!sc*/
.bZFMjS nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*!sc*/
.eYctao {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
.eYctao a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.eYctao svg {
    height: 1.375rem;
    width: 100%;
}

/*!sc*/
.eYctao svg path {
    fill: #fff;
}

/*!sc*/
@media (min-width: 60em) {
    .eYctao svg {
        -webkit-transition: height 0.4s ease-in-out;
        transition: height 0.4s ease-in-out;
        height: 1.875rem;
        will-change: height;
    }
}

.gGaVHo {
    z-index: 1080;
}

/*!sc*/
@media (max-width: 59.9375em) {
    .gGaVHo {
        background: #fff;
        height: calc(100vh - 3.375rem);
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 3.375rem;
        width: 100%;
        will-change: left;
        margin-top: 53px;
    }

    .gGaVHo.open {
        left: 0;
    }

    .gGaVHo .links a,
    .gGaVHo .links button {
        border-bottom: 1px solid hsla(0, 100%, 0%, 0.06);
        padding: 1.5rem;
        text-align: left;
        width: 100%;
    }
}

/*!sc*/
@media (min-width: 60em) {
    .gGaVHo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-left: auto;
    }

    .gGaVHo .links > li,
    .gGaVHo .cta {
        margin-left: 2rem;
    }

    .gGaVHo a::not(.cta),
    .gGaVHo button::not(.cta) {
        height: 3.375rem;
    }
}

/*!sc*/
.gWOzHC .links a {
    font-family: Arial, sans-serif;
    font-size: 0.6875rem;
    -webkit-letter-spacing: 0rem;
    -moz-letter-spacing: 0rem;
    -ms-letter-spacing: 0rem;
    letter-spacing: 0rem;
    line-height: 1.23;
    font-weight: 500 !important;
}

@media (min-width: 60em) {
    .gWOzHC .links a {
        font-family: Arial, sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.35;
    }
}


.gWOzHC .links {
    height: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.gWOzHC .links li {
    margin-left: 1.5rem;
}

@media (max-width: 59.9375em) {

    .gGaVHo .links a,
    .gGaVHo .links button {
        border-bottom: 1px solid hsla(0, 100%, 0%, 0.06);
        padding: 1.5rem;
        text-align: left;
        width: 100%;
    }
}


@media (min-width: 60em) {
    .gQkeed .links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
    }
}

/*!sc*/
.euCHsL {
    position: relative;
    width: 100%;
}

/*!sc*/
.euCHsL a,
.euCHsL button {
    font-family: Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    -webkit-letter-spacing: -0.0625rem;
    -moz-letter-spacing: -0.0625rem;
    -ms-letter-spacing: -0.0625rem;
    letter-spacing: -0.0625rem;
    line-height: 1.36;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
}

@media (min-width: 60em) {

    .euCHsL a,
    .euCHsL button {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.35;
    }
}

.euCHsL .current > span {
    font-weight: bold;
}

/*!sc*/
.euCHsL .chevron {
    height: 0.4375rem;
    margin-left: auto;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 0.875rem;
    will-change: transform;
}

/*!sc*/
.euCHsL .chevron path {
    fill: currentColor;
}

/*!sc*/
.euCHsL .chevron.active {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.euCHsL .icon {
    height: 1.125rem;
    margin-right: 0.5rem;
    width: 1.125rem;
}

/*!sc*/
.euCHsL.active.root {
    padding-bottom: 0;
}

/*!sc*/
@media (max-width: 59.9375em) {

    .euCHsL a,
    .euCHsL button {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 60em) {
    .euCHsL {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: auto;
    }

    .euCHsL a,
    .euCHsL button {
        margin: 0;
    }

    .euCHsL.primary > a,
    .euCHsL.primary > button {
        color: #fff;
    }

    .euCHsL .chevron {
        margin-left: 0.5rem;
    }

    .euCHsL:hover .chevron {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}


.hLBqCv {
    display: none;
}

.styles__StyledLink-sc-fqq7yn-4.active > .styles__Dropdown-sc-fqq7yn-5 {
    display: block;
}


/*!sc*/
.hLBqCv ul .styles__StyledLink-sc-fqq7yn-4 {
    background: #f6f6f6;
}

/*!sc*/
.hLBqCv.second-level .styles__StyledLink-sc-fqq7yn-4 {
    background: #f0f0f0;
}

/*!sc*/
.hLBqCv.second-level .styles__StyledLink-sc-fqq7yn-4 a,
.hLBqCv.second-level .styles__StyledLink-sc-fqq7yn-4 button {
    padding-right: 3rem;
}

@media (min-width: 60em) {
    .hLBqCv {
        background: none;
        right: 0;
        margin-top: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
    }

    .hLBqCv a,
    .hLBqCv button {
        color: #383838;
        padding: 1rem;
    }

    .hLBqCv.second-level .styles__StyledLink-sc-fqq7yn-4 {
        background: #f6f6f6;
    }

    .hLBqCv.primary-last {
        left: auto;
        right: 0;
    }

    .hLBqCv ul .styles__StyledLink-sc-fqq7yn-4:hover .chevron path {
        fill: #e83f59;
    }

    .hLBqCv ul .styles__StyledLink-sc-fqq7yn-4 .chevron {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .hLBqCv ul .styles__StyledLink-sc-fqq7yn-4 .chevron path {
        fill: #383838;
    }

    .hLBqCv ul .styles__StyledLink-sc-fqq7yn-4 .chevron path:hover {
        fill: #e83f59;
    }

    .styles__StyledLink-sc-fqq7yn-4.active > .styles__Dropdown-sc-fqq7yn-5.second-level > ul > .styles__StyledLink-sc-fqq7yn-4 {
        background: #b0b0b0;
    }

    .styles__StyledLink-sc-fqq7yn-4.active > .styles__Dropdown-sc-fqq7yn-5 {
        display: block;
        margin-top: auto;
    }

    .hLBqCv .styles__StyledLink-sc-fqq7yn-4:hover {
        background: #f0f0f0;
    }

    .hLBqCv .styles__StyledLink-sc-fqq7yn-4:hover > a {
        color: #e83f59;
    }

    .styles__StyledLink-sc-fqq7yn-4:hover > .styles__Dropdown-sc-fqq7yn-5 {
        display: block;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        pointer-events: auto;
        white-space: nowrap;
    }

    .hLBqCv.second-level {
        top: 0;
        right: 100%;
    }

    .hLBqCv .styles__StyledLink-sc-fqq7yn-4.last .chevron {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.cvMSM {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 59.9375em) {
    .cvMSM {
        background: #fff;
        bottom: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 0;
        padding: 1rem 0;
        position: fixed;
        width: 100vw;
        z-index: 1;
    }
}

/*!sc*/
.cvMSM .franchiseCta {
    background: #fff;
    border-color: none;
    color: #62000c;
}

/*!sc*/
.cvMSM .franchiseCta:hover {
    background: #ffd2cf;
    border-color: #ffd2cf;
}

/*!sc*/
.cvMSM.has-hubspot-button a {
    width: calc(100% - 96px - 1.5rem);
}

/*!sc*/
.vqxsT {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 500;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    min-width: 7.5rem;
    padding: 0.5rem 1rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    vertical-align: text-top;
    width: auto;
    will-change: background, color;
    background: #e83f59;
    border-color: #e83f59;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    -webkit-letter-spacing: 0rem;
    -moz-letter-spacing: 0rem;
    -ms-letter-spacing: 0rem;
    letter-spacing: 0rem;
    line-height: 1.1;
    white-space: nowrap;
}

/*!sc*/
.vqxsT:disabled {
    background: #f0f0f0 !important;
    border-color: #f0f0f0 !important;
    color: #383838 !important;
    pointer-events: none;
}

/*!sc*/
.vqxsT * {
    pointer-events: none;
}

/*!sc*/
.vqxsT:hover,
.vqxsT:active {
    background: #c10d28;
    border-color: #c10d28;
    color: #fff;
}

@media (min-width: 60em) {
    .vqxsT {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.4;
    }
}

/*!sc*/
.jGyQWv {
    margin-left: auto;
    width: 1.625rem;
    cursor: pointer;
}

/*!sc*/
@media (min-width: 60em) {
    .jGyQWv {
        display: none;
    }
}

/*!sc*/
.jGyQWv span {
    background: currentColor;
    color: #fff;
    display: block;
    height: 0.1875rem;
    position: absolute;
    top: 1.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 1.625rem;
}

/*!sc*/
.jGyQWv span:before,
.jGyQWv span:after {
    background: currentColor;
    content: '';
    height: inherit;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: inherit;
}

/*!sc*/
.jGyQWv span:before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

/*!sc*/
.jGyQWv span:after {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

/*!sc*/
.jGyQWv .text {
    font-family: Arial, sans-serif;
    font-size: 0.6875rem;
    font-weight: 400;
    -webkit-letter-spacing: 0rem;
    -moz-letter-spacing: 0rem;
    -ms-letter-spacing: 0rem;
    letter-spacing: 0rem;
    line-height: 1.23;
    display: none;
    color: #262626;
    margin-top: 0.75rem;
}

@media (min-width: 60em) {
    .jGyQWv .text {
        font-family: Arial, sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.35;
    }
}

.jGyQWv.open span {
    background: transparent;
}

/*!sc*/
.jGyQWv.open span:before {
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/*!sc*/
.jGyQWv.open span:after {
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

/*!sc*/
.edTBgo {
    background: #fff;
    position: relative;
    z-index: 3;
}

/*!sc*/
.edTBgo.for-desktop {
    display: none;
}

/*!sc*/
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

/*!sc*/
@media (min-width: 60em) {

    .edTBgo.for-mobile {
        display: none;
    }

    .edTBgo.for-desktop {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }


    .gWOzHC {
        height: 2.1875rem;
        width: 100%;
    }

    .gWOzHC a,
    .gWOzHC a,
    .gWOzHC button {
        color: #383838 !important;
    }
}

/*!sc*/
.fNthQB {
    font-family: Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    -webkit-letter-spacing: -0.0625rem;
    -moz-letter-spacing: -0.0625rem;
    -ms-letter-spacing: -0.0625rem;
    letter-spacing: -0.0625rem;
    line-height: 1.36;
    background: #262626;
}

@media (min-width: 60em) {
    .fNthQB {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.35;
    }
}

/*!sc*/
.fNthQB a,
.fNthQB a:hover,
.fNthQB a:link,
.fNthQB a:active,
.fNthQB a:focus {
    font-weight: 400;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

/*!sc*/
.bPOOVj {
    border-top: 1px solid #383838;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 3.5rem 0 0 0;
}

/*!sc*/
.bPOOVj .column {
    width: calc(25% - 4rem);
    min-width: calc((80rem - 8rem) / 4);
    max-width: calc((80rem - 6rem) / 4);
    padding: 0;
    margin-bottom: 2rem;
}

/*!sc*/
@media (max-width: 79.9375em) {
    .bPOOVj .column:last-child {
        padding-left: 0;
    }
}

/*!sc*/
.bPOOVj .column .label {
    font-family: Arial, sans-serif;
    font-size: 1.3125rem;
    font-weight: 700;
    -webkit-letter-spacing: 0rem;
    -moz-letter-spacing: 0rem;
    -ms-letter-spacing: 0rem;
    letter-spacing: 0rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    color: #b0b0b0;
}

@media (min-width: 60em) {
    .bPOOVj .column .label {
        font-family: Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.37;
    }
}

/*!sc*/
.bPOOVj .column:last-child {
    margin-bottom: 0;
}

/*!sc*/
.bPOOVj .column ul li {
    margin-bottom: 1.5rem;
}

/*!sc*/
.bPOOVj .column ul li a {
    color: #fff;
}

/*!sc*/
@media (min-width: 60em) {
    .bPOOVj {
        padding: 2rem 0 0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .bPOOVj .column {
        padding: 0 1.5rem;
        margin-bottom: 3rem;
    }

    .bPOOVj .column:first-child {
        padding-left: 0;
    }

    .bPOOVj .column ul li {
        margin-bottom: 0.75rem;
    }
}

/*!sc*/
.fShjqX {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 1rem;
}

/*!sc*/
.fShjqX .title {
    margin: 0 0 1.5rem;
    color: #b0b0b0;
}

/*!sc*/
@media (min-width: 60em) {
    .fShjqX {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: left;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: inherit;
        padding-right: inherit;
    }

    .fShjqX .title {
        margin: 0 1rem 0 0;
    }
}

/*!sc*/
.fbDDAS {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/*!sc*/
.fbDDAS .item:not(:last-child) {
    margin: 0 0.5rem 0 0;
}

/*!sc*/
.fbDDAS .title {
    color: #b0b0b0;
}

/*!sc*/
.fbDDAS .icon {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2.5rem;
}

/*!sc*/
.fbDDAS .icon.facebook {
    background: #1877f2;
}

/*!sc*/
.fbDDAS .icon.instagram {
    background: #e4405f;
}

/*!sc*/
.fbDDAS .icon.twitter {
    background: #1da1f2;
}

/*!sc*/
.fbDDAS .icon.linkedin {
    background: #0a66c2;
}

/*!sc*/
.fbDDAS .icon.youtube {
    background: #ff0000;
}

/*!sc*/
.fbDDAS .icon.spotify {
    background: #1ed760;
}

/*!sc*/
.fbDDAS .icon svg {
    height: 1rem;
    width: 1rem;
}

/*!sc*/
.fbDDAS li:last-child .icon {
    margin-right: 0;
}

/*!sc*/
@media (min-width: 60em) {
    .fbDDAS {
        padding-right: 1.5rem;
    }

    .fbDDAS .icon {
        height: 2rem;
        width: 2rem;
    }
}

.gaESUR {
    background: #383838;
    padding: 0;
}

/*!sc*/
.gaESUR .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 2.5rem 0 6rem 0;
}

/*!sc*/
@media (min-width: 60em) {
    .gaESUR .wrapper {
        padding: 0.5rem;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

/*!sc*/
@media (min-width: 60em) {
    .gaESUR {
        padding: 1.5rem 0 1.5rem 0;
    }
}

/*!sc*/
@media (max-width: 79.9375em) {
    .gaESUR {
        padding: 1.5rem;
    }
}

/*!sc*/
.bXRprC {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5rem 0 0 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*!sc*/
.bXRprC a {
    text-transform: uppercase;
    color: #fff;
}

/*!sc*/
.bXRprC a.active {
    color: #fff;
}


/*!sc*/
@media (min-width: 60em) {
    .bXRprC {
        margin-top: 0;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
}

.biGQkc {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

/*!sc*/
.biGQkc svg {
    display: block;
    height: 14px;
    margin: 0 0.5rem 0 0;
    width: 14px;
}

/*!sc*/
.biGQkc svg path {
    fill: currentColor;
}

.fKKNk .copyright {
    font-family: Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    -webkit-letter-spacing: -0.0625rem;
    -moz-letter-spacing: -0.0625rem;
    -ms-letter-spacing: -0.0625rem;
    letter-spacing: -0.0625rem;
    line-height: 1.36;
    color: #b0b0b0;
    margin: 0 0 1rem;
    text-align: center;
}

@media (min-width: 60em) {
    .fKKNk .copyright {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        -webkit-letter-spacing: 0rem;
        -moz-letter-spacing: 0rem;
        -ms-letter-spacing: 0rem;
        letter-spacing: 0rem;
        line-height: 1.35;
    }
}

@media (min-width: 60em) {
    .fKKNk .copyright {
        margin: 0 2rem 0 0;
    }
}

/*!sc*/
.fKKNk .menu-list {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
@media (min-width: 60em) {
    .fKKNk .menu-list {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.fKKNk .menu-item:not(:last-child) {
    margin: 0 0 1.5rem 0;
}

/*!sc*/
@media (min-width: 60em) {
    .fKKNk .menu-item:not(:last-child) {
        margin: 0 1.5rem 0 0;
    }
}

/*!sc*/
.fKKNk .menu-item a {
    color: #fff;
}

/*!sc*/
.fKKNk .menu-item a:hover,
.fKKNk .menu-item a:active {
    color: #fff;
}

/*!sc*/
@media (min-width: 60em) {
    .fKKNk {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}