{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-10/Billboard_EN-CASA_21OCT.png.webp?itok=8LXX_4Jj"/>
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">Learn at home</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>


    <div class="hPyRMJ">
        <div class="ikBVbR jeMOCE"><h3>It is
            important that the children continue to be exposed to English at home, in a natural way, in their family
            environment. </h3>
            <p>At Kids&amp;Us we provide you with the tools to achieve this!&nbsp;</p>
        </div>
    </div>

    <div class="iCkyga" style="background-color: white">
        <div class="jFYyVm jeMOEU">
            <div class="fJUblt jbzmlz">
                <div class="textZone">
                    <div class="textZone_title">Talking Pen</div>
                    <p class="textZone_text">The pen that talks while you learn!</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/themed-weeks"
                                               class="lmEcaw btn">Buy it at your school</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper leTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/Desktop_DistribuidorTP24OCT.png.webp?itok=Vbsn5ah-">
                    </div>
                </div>
            </div>
            <div class="kRztPR">
                <div class="textZone">
                    <div class="textZone_title">Books</div>
                    <p class="textZone_text">Books for all ages to encourage reading and stimulate the children’s learning.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/sport"
                                               class="lmEcaw btn">Buy it at your school</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper sleTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-11/learn-english-at-home-with-books-and-magazines.png.webp?itok=zXW5mn95">
                    </div>
                </div>
            </div>
            <div class="kRztPR spkn">
                <div class="textZone">
                    <div class="textZone_title">Soft toys</div>
                    <p class="textZone_text">The children can take home the characters they learn with in class.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/fun-day"
                                               class="lmEcaw btn">Buy it at your school</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper sleTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-11/Buy-didactical-toys-in-kids-and-us.png.webp?itok=-lDmlCEq">
                    </div>
                </div>
            </div>
            <div class="kRztPR bAQdBy">
                <div class="textZone">
                    <div class="textZone_title">Games</div>
                    <p class="textZone_text">Games in English so the children can learn while having fun.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/linguistic-immersion"
                                               class="lmEcaw btn">Buy it at your school</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper sleTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/Desktop_DistribuidorPUZZLE_24OCT_2.png.webp?itok=sV5zqCzS">
                    </div>
                </div>
            </div>
            <div class="kRztPR ddVoYN">
                <div class="textZone">
                    <div class="textZone_title">Videos and songs</div>
                    <p class="textZone_text">You can find all kinds of audiovisual resources for all ages on our YouTube channel.</p>
                    <div class="btnWrapper"><a href="/en/activities-english-children/camps/summer"
                                               class="lmEcaw btn">Check out our YouTube channel</a></div>
                </div>
                <div class="imageZone">
                    <div class="lazyload-wrapper sleTRdU imageZone_image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-07/672x448_Sira-distribuidor-casa-youtube.png.webp?itok=vQS9xs_E">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}