{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/fullwidth_webp/public/2022-04/DetallTheatre_billboard.png.webp?itok=h1yIDAj9"/>
                </div>
            </div>
            <div class="GSXFq">
                <h1 class="title">Theatre workshop in English</h1>
            </div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class=" gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="styles__Module-sc-1msdkri-0 hPyRMJ">
        <div title="What are the Cool Off?" size="reader"
             class="styles__Container-sc-1msdkri-1 ikBVbR Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE">
            <h2>What is the objective of Kids&Theatre?</h2>
            <p style="text-align:justify; margin-bottom:11px">
                <span style="font-size:11pt">
                    <span style="line-height:107%">
                        <span>The plays and songs performed in this theatre workshop have been developed by Kids&Us' content creation team to ensure that they include the structures and vocabulary appropriate to the level of each participant. English becomes the lingua franca, not only in the final play, but also in all the rehearsals prior to it. In this way, in addition to developing the children's creativity and imagination, we help them to expand their expressive resources (from their own gestures to vocal mastery when singing and linguistic fluency).</span>
                    </span>
                </span>
            </p>
            <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/original/public/2022-11/Experience-the-Children-s-Theater-Workshop-Kids-and-Us.png?itok=BiKfJC0K"/>
            <h2>What does this workshop consist of?</h2>
            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%">
                    Kids&Theatre is an extracurricular activity complementary to Kids&Us courses. The course consists of staging three musical plays at the end of each term.
            </span></span>
            </p>
            <p style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%">
Ages: Aimed at children ages 4 to 7.<br/>
Calendar: contact your nearest school to find out where the workshop is held and when.
Workshop duration: 36 1-hour sessions (+6 additional sessions)</span></span>
            </p>
        </div>
    </div>





    <div class="bdzjHb">
        <div class="jeMOCE" style="width: auto">
            <h3 class="title">Take a look for yourself!</h3></div>
        <div class="dqbnmY jeMOEU" style="width: auto">
            <div class="giYitx">
                <div class="top">
                    <div class="dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Learn-about-the-spaces-designed-for-teaching-English_3.png?itok=svYcQLWf">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/spaces-designed-for-teaching-English_3.png?itok=U89rAJ9a">
                    </div>
                </div>
            </div>
            <div class="giYitx">
                <div class="top">
                    <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dXxpSA top_image top_clickable">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/designed-for-teaching-English_1.png?itok=ayk-Qdpp">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}