{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="gcKGol dbLvYn">
        <div size="medium" class="Wrappers__Wrapper-sc-10hp9ej-0 jeMOEW"><h1 class="title">We want to meet your
            child</h1></div>
        <div class="styles__Image-sc-179rk1d-5 gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="hPyRMJ">
        <div class="fBMyNg jeMOCE"><p>
            Enrolment open!<br>
            Contact your nearest Kids&amp;Us school by filling in this form and we will contact you as soon as possible.
        </p>
        </div>
    </div>

    <div class="styles__Module-sc-1wotiar-0 iBwXrW">
        <div size="reader" class="Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE">
            <div class="styles__Container-sc-1msdkri-1 jtKXql Wrappers__Wrapper-sc-10hp9ej-0 jeMOCE introduction"
                 size="reader"><p>Take the first step so that your children can learn English</p>
            </div>
            <div id="contact-en-intform" class="styles__Container-sc-1wotiar-1 cvmHCb" data-hs-forms-root="true">
                <form id="hsForm_42b5b6fb-d132-4b5d-95e6-44f11df2c330" method="POST" accept-charset="UTF-8"
                      enctype="multipart/form-data" novalidate=""
                      action="https://forms.hsforms.com/submissions/v3/public/submit/formsnext/multipart/5313163/42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                      class="hs-form-private hsForm_42b5b6fb-d132-4b5d-95e6-44f11df2c330 hs-form-42b5b6fb-d132-4b5d-95e6-44f11df2c330 hs-form-42b5b6fb-d132-4b5d-95e6-44f11df2c330_2d088497-38fd-4693-bfa8-777b08f5b35d hs-form stacked"
                      target="target_iframe_42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                      data-instance-id="2d088497-38fd-4693-bfa8-777b08f5b35d"
                      data-form-id="42b5b6fb-d132-4b5d-95e6-44f11df2c330" data-portal-id="5313163">
                    <fieldset class="form-columns-1">
                        <div class="hs-dependent-field">
                            <div class="hs_poblaciones_con_centros_kids_us hs-poblaciones_con_centros_kids_us hs-fieldtype-select field hs-form-field">
                                <label id="label-poblaciones_con_centros_kids_us-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                       class="" placeholder="Enter your Locations with Kids&amp;amp;Us schools"
                                       for="poblaciones_con_centros_kids_us-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>Locations with Kids&amp;Us schools</span><span
                                        class="hs-form-required">*</span></label>
                                <legend class="hs-field-desc" style="display: none;"></legend>
                                <div class="input"><select
                                        id="poblaciones_con_centros_kids_us-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                        required="" class="hs-input invalid error is-placeholder"
                                        name="poblaciones_con_centros_kids_us">
                                    <option disabled="" value="">Seleccione</option>
                                    <option value="A Coruña">A Coruña</option>
                                    <option value="Albacete">Albacete</option>
                                    <option value="Alcalá de Henares">Alcalá de Henares</option>
                                    <option value="Alcanar">Alcanar</option>
                                    <option value="Alcobendas">Alcobendas</option>
                                    <option value="Alcoi">Alcoi</option>
                                    <option value="Alcorcón">Alcorcón</option>
                                    <option value="Alcudia">Alcudia</option>
                                    <option value="Algeciras">Algeciras</option>
                                    <option value="Algete">Algete</option>
                                    <option value="Alicante">Alicante</option>
                                    <option value="Almería">Almería</option>
                                    <option value="Amposta">Amposta</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Aranda de Duero">Aranda de Duero</option>
                                    <option value="Aranjuez">Aranjuez</option>
                                    <option value="Arenys de Mar">Arenys de Mar</option>
                                    <option value="Arganda">Arganda del Rey</option>
                                    <option value="Argentona">Argentona</option>
                                    <option value="Arnedo">Arnedo</option>
                                    <option value="Arrasate-Mondragón">Arrasate-Mondragón</option>
                                    <option value="Arroyomolinos">Arroyomolinos</option>
                                    <option value="Arteixo">Arteixo</option>
                                    <option value="Ávila">Avila</option>
                                    <option value="Avilés">Avilés</option>
                                    <option value="Azpeitia">Azpeitia</option>
                                    <option value="Azuqueca de Henares">Azuqueca de Henares</option>
                                    <option value="Badajoz">Badajoz</option>
                                    <option value="Badalona">Badalona</option>
                                    <option value="Balaguer">Balaguer</option>
                                    <option value="Banyoles">Banyoles</option>
                                    <option value="Barakaldo">Barakaldo</option>
                                    <option value="Barberà del Vallès">Barberà del Vallès</option>
                                    <option value="Barcelona">Barcelona</option>
                                    <option value="Basauri">Basauri</option>
                                    <option value="Beasain">Beasain</option>
                                    <option value="Benicarló">Benicarló</option>
                                    <option value="Benicàssim">Benicàssim</option>
                                    <option value="Berga">Berga</option>
                                    <option value="Bilbao">Bilbao</option>
                                    <option value="Blanes">Blanes</option>
                                    <option value="Boadilla del Monte">Boadilla del Monte</option>
                                    <option value="Borriana">Borriana</option>
                                    <option value="Burgos">Burgos</option>
                                    <option value="Calafell">Calafell</option>
                                    <option value="Caldes de Montbui">Caldes de Montbui</option>
                                    <option value="Calella">Calella</option>
                                    <option value="Cambrils">Cambrils</option>
                                    <option value="Canet de Mar">Canet de Mar</option>
                                    <option value="Cardedeu">Cardedeu</option>
                                    <option value="Cartagena">Cartagena</option>
                                    <option value="Cassà de la Selva">Cassà de la Selva</option>
                                    <option value="Castellar del Vallès">Castellar del Vallès</option>
                                    <option value="Castellbisbal">Castellbisbal</option>
                                    <option value="Castelldefels">Castelldefels</option>
                                    <option value="Castellón">Castellón</option>
                                    <option value="Castro Urdiales">Castro Urdiales</option>
                                    <option value="Cerdanyola del Vallès">Cerdanyola del Vallès</option>
                                    <option value="Cervelló">Cervelló</option>
                                    <option value="Ciudad Real">Ciudad Real</option>
                                    <option value="Ciutadella">Ciutadella</option>
                                    <option value="Collado Villalba">Collado Villalba</option>
                                    <option value="Colmenar Viejo">Colmenar Viejo</option>
                                    <option value="Cornella de Llobregat">Cornellà de Llobregat</option>
                                    <option value="Coslada">Coslada</option>
                                    <option value="Cubelles">Cubelles</option>
                                    <option value="Cáceres">Cáceres</option>
                                    <option value="Córdoba">Córdoba</option>
                                    <option value="Don Benito">Don Benito</option>
                                    <option value="Donostia">Donostia</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Éibar">Eibar</option>
                                    <option value="Eivissa">Eivissa</option>
                                    <option value="El Masnou">El Masnou</option>
                                    <option value="El Prat de Llobregat">El Prat de Llobregat</option>
                                    <option value="El Vendrell">El Vendrell</option>
                                    <option value="Elche">Elche</option>
                                    <option value="Elda">Elda</option>
                                    <option value="Errenteria">Errenteria</option>
                                    <option value="Esplugues de Llobregat">Esplugues de Llobregat</option>
                                    <option value="Estepona">Estepona</option>
                                    <option value="Ferrol">Ferrol</option>
                                    <option value="Figueres">Figueres</option>
                                    <option value="Fuenlabrada">Fuenlabrada</option>
                                    <option value="Galapagar">Galapagar-Colmenarejo</option>
                                    <option value="Galdakao">Galdakao</option>
                                    <option value="Gavà">Gavà</option>
                                    <option value="Getafe">Getafe</option>
                                    <option value="Algorta (Getxo)">Getxo</option>
                                    <option value="Gijón">Gijón</option>
                                    <option value="Girona">Girona</option>
                                    <option value="Granada">Granada</option>
                                    <option value="Granollers">Granollers</option>
                                    <option value="Guadalajara">Guadalajara</option>
                                    <option value="Hernani">Hernani</option>
                                    <option value="Huesca">Huesca</option>
                                    <option value="Humanes">Humanes</option>
                                    <option value="Igualada">Igualada</option>
                                    <option value="Illescas">Illescas</option>
                                    <option value="Inca">Inca</option>
                                    <option value="Irún">Irún</option>
                                    <option value="Jaén">Jaén</option>
                                    <option value="Jerez de la Frontera">Jerez de la Frontera</option>
                                    <option value="L'Hospitalet de Llobregat">L'Hospitalet de Llobregat</option>
                                    <option value="La Garriga">La Garriga</option>
                                    <option value="La Seu d'Urgell">La Seu d'Urgell</option>
                                    <option value="La Vall d'Uixó">La Vall d'Uixó</option>
                                    <option value="Laguna de Duero">Laguna de Duero</option>
                                    <option value="Las Palmas de Gran Canaria">Las Palmas de Gran Canaria</option>
                                    <option value="Las Rozas">Las Rozas</option>
                                    <option value="Leganés">Leganés</option>
                                    <option value="Les Borges Blanques">Les Borges Blanques</option>
                                    <option value="León">León</option>
                                    <option value="Lleida">Lleida</option>
                                    <option value="Lliçà d’Amunt">Lliçà d’Amunt</option>
                                    <option value="Lloret de Mar">Lloret de Mar</option>
                                    <option value="Llucmajor">Llucmajor</option>
                                    <option value="Logroño">Logroño</option>
                                    <option value="Lugo">Lugo</option>
                                    <option value="Madrid">Madrid</option>
                                    <option value="Majadahonda">Majadahonda</option>
                                    <option value="Málaga">Malaga</option>
                                    <option value="Malgrat de Mar">Malgrat de Mar</option>
                                    <option value="Manacor">Manacor</option>
                                    <option value="Manresa">Manresa</option>
                                    <option value="Marbella">Marbella</option>
                                    <option value="Marratxí">Marratxí</option>
                                    <option value="Martorell">Martorell</option>
                                    <option value="Mataró">Mataró</option>
                                    <option value="Maó">Maó</option>
                                    <option value="Meco">Meco</option>
                                    <option value="Mejorada del Campo">Mejorada del Campo</option>
                                    <option value="Mislata">Mislata</option>
                                    <option value="Moià">Moià</option>
                                    <option value="Molins de Rei">Molins de Rei</option>
                                    <option value="Mollerussa">Mollerussa</option>
                                    <option value="Mollet del Vallès">Mollet del Vallès</option>
                                    <option value="Montcada i Reixac">Montcada i Reixac</option>
                                    <option value="Montornès del Vallès">Montornès del Vallès</option>
                                    <option value="Móstoles">Mostoles</option>
                                    <option value="Mungia">Mungia</option>
                                    <option value="Murcia">Murcia</option>
                                    <option value="Mutilva">Mutilva</option>
                                    <option value="Navalcarnero">Navalcarnero</option>
                                    <option value="O Burgo">O Burgo</option>
                                    <option value="O Grove">O Grove</option>
                                    <option value="Olesa de Montserrat">Olesa de Montserrat</option>
                                    <option value="Olot">Olot</option>
                                    <option value="Onda">Onda</option>
                                    <option value="Ourense">Ourense</option>
                                    <option value="Oviedo">Oviedo</option>
                                    <option value="Palafrugell">Palafrugell</option>
                                    <option value="Palau-solità i Plegamans">Palau-solità i Plegamans</option>
                                    <option value="Palencia">Palencia</option>
                                    <option value="Palma de Mallorca">Palma de Mallorca</option>
                                    <option value="Palma Nova">Palmanova</option>
                                    <option value="Pamplona">Pamplona</option>
                                    <option value="Paracuellos de Jarama">Paracuellos de Jarama</option>
                                    <option value="Parets del Vallés">Parets del Vallés</option>
                                    <option value="Parla">Parla</option>
                                    <option value="Paterna">Paterna</option>
                                    <option value="Pineda de Mar">Pineda de Mar</option>
                                    <option value="Pinto">Pinto</option>
                                    <option value="Ponferrada">Ponferrada</option>
                                    <option value="Pontevedra">Pontevedra</option>
                                    <option value="Porriño">Porriño</option>
                                    <option value="Portugalete">Portugalete</option>
                                    <option value="Pozuelo de Alarcón">Pozuelo de Alarcón</option>
                                    <option value="Premià de Mar">Premià de Mar</option>
                                    <option value="Puerto de Sagunto">Puerto de Sagunto</option>
                                    <option value="Reus">Reus</option>
                                    <option value="Ribadeo">Ribadeo</option>
                                    <option value="Ribeira">Ribeira</option>
                                    <option value="Ripollet">Ripollet</option>
                                    <option value="Rivas-Vaciamadrid">Rivas-Vaciamadrid</option>
                                    <option value="Rubí">Rubí</option>
                                    <option value="Sabadell">Sabadell</option>
                                    <option value="Salamanca">Salamanca</option>
                                    <option value="Salou">Salou</option>
                                    <option value="Salt">Salt</option>
                                    <option value="San Agustín de Guadalix">San Agustín de Guadalix</option>
                                    <option value="San Fernando de Henares">San Fernando de Henares</option>
                                    <option value="San Lorenzo del Escorial">San Lorenzo del Escorial</option>
                                    <option value="San Martín de la Vega">San Martín de la Vega</option>
                                    <option value="San Sebastián de los Reyes">San Sebastián de los Reyes</option>
                                    <option value="San Vicente del Raspeig">San Vicente del Raspeig</option>
                                    <option value="Sant Adrià de Besòs">Sant Adrià de Besòs</option>
                                    <option value="Sant Andreu de la Barca">Sant Andreu de la Barca</option>
                                    <option value="Sant Andreu de Llavaneres">Sant Andreu de Llavaneres</option>
                                    <option value="Sant Boi de Llobregat">Sant Boi de Llobregat</option>
                                    <option value="Sant Cugat del Vallès">Sant Cugat del Vallès</option>
                                    <option value="Sant Feliu de Guíxols">Sant Feliu de Guíxols</option>
                                    <option value="Sant Feliu de Llobregat">Sant Feliu de Llobregat</option>
                                    <option value="Sant Joan Despi">Sant Joan Despi</option>
                                    <option value="Sant Pere de Ribes">Sant Pere de Ribes</option>
                                    <option value="Sant Quirze del Vallès">Sant Quirze del Vallès</option>
                                    <option value="Sant Sadurní d'Anoia">Sant Sadurní d'Anoia</option>
                                    <option value="Sant Vicenç dels Horts">Sant Vicenç dels Horts</option>
                                    <option value="Santa Coloma de Farners">Santa Coloma de Farners</option>
                                    <option value="Santa Coloma de Gramenet">Santa Coloma de Gramenet</option>
                                    <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
                                    <option value="Santa Perpètua de Mogoda">Santa Perpètua de Mogoda</option>
                                    <option value="Santander">Santander</option>
                                    <option value="Santiago de Compostela">Santiago de Compostela</option>
                                    <option value="Santurtzi">Santurtzi</option>
                                    <option value="Segovia">Segovia</option>
                                    <option value="Sevilla">Sevilla</option>
                                    <option value="Sitges">Sitges</option>
                                    <option value="Solsona">Solsona</option>
                                    <option value="Sóller">Sóller</option>
                                    <option value="Talavera de la Reina">Talavera de la Reina</option>
                                    <option value="Tarragona">Tarragona</option>
                                    <option value="Terrassa">Terrassa</option>
                                    <option value="Test">Test</option>
                                    <option value="Tiana">Tiana</option>
                                    <option value="Toledo">Toledo</option>
                                    <option value="Tolosa">Tolosa</option>
                                    <option value="Tordera">Tordera</option>
                                    <option value="Torredembarra">Torredembarra</option>
                                    <option value="Torrejón de Ardoz">Torrejón de Ardoz</option>
                                    <option value="Torrelavega">Torrelavega</option>
                                    <option value="Torremolinos">Torremolinos</option>
                                    <option value="Torrent">Torrent</option>
                                    <option value="Tortosa">Tortosa</option>
                                    <option value="Tres Cantos">Tres Cantos</option>
                                    <option value="Tudela">Tudela</option>
                                    <option value="Tàrrega">Tàrrega</option>
                                    <option value="Ulldecona">Ulldecona</option>
                                    <option value="Valdebebas-Madrid">Valdebebas-Madrid</option>
                                    <option value="Valdemoro">Valdemoro</option>
                                    <option value="Valdepeñas">Valdepeñas</option>
                                    <option value="Valencia">Valencia</option>
                                    <option value="Valladolid">Valladolid</option>
                                    <option value="Vallirana">Vallirana</option>
                                    <option value="Valls">Valls</option>
                                    <option value="Vic">Vic</option>
                                    <option value="Vigo">Vigo</option>
                                    <option value="Vila-real">Vila-real</option>
                                    <option value="Viladecans">Viladecans</option>
                                    <option value="Vilafranca del Penedès">Vilafranca del Penedès</option>
                                    <option value="Vilagarcía de Arousa">Vilagarcía de Arousa</option>
                                    <option value="Vilanova i la Geltrú">Vilanova i la Geltrú</option>
                                    <option value="Vilassar de Mar">Vilassar de Mar</option>
                                    <option value="Villanueva de la Cañada">Villanueva de la Cañada</option>
                                    <option value="Villaviciosa de Odón">Villaviciosa de Odón</option>
                                    <option value="Vinaròs">Vinaròs</option>
                                    <option value="Vitoria-Gasteiz">Vitoria-Gasteiz</option>
                                    <option value="Zaragoza">Zaragoza</option>
                                    <option value="Zarautz">Zarautz</option>
                                </select></div>
                                <ul class="no-list hs-error-msgs inputs-list" role="alert">
                                    <li><label class="hs-error-msg hs-main-font-element">Seleccione una opción del menú
                                        desplegable.</label></li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-columns-2">
                        <div class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field smart-field"><label
                                id="label-firstname-42b5b6fb-d132-4b5d-95e6-44f11df2c330" class=""
                                placeholder="Enter your Name"
                                for="firstname-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>Name</span><span
                                class="hs-form-required">*</span></label>
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input"><input id="firstname-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                                      name="firstname" required="" placeholder="" type="text"
                                                      class="hs-input" inputmode="text" autocomplete="given-name"
                                                      value=""></div>
                        </div>
                        <div class="hs_lastname hs-lastname hs-fieldtype-text field hs-form-field smart-field"><label
                                id="label-lastname-42b5b6fb-d132-4b5d-95e6-44f11df2c330" class=""
                                placeholder="Enter your Surname"
                                for="lastname-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>Surname</span><span
                                class="hs-form-required">*</span></label>
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input"><input id="lastname-42b5b6fb-d132-4b5d-95e6-44f11df2c330" name="lastname"
                                                      required="" placeholder="" type="text" class="hs-input"
                                                      inputmode="text" autocomplete="family-name" value=""></div>
                        </div>
                    </fieldset>
                    <fieldset class="form-columns-2">
                        <div class="hs_email hs-email hs-fieldtype-text field hs-form-field smart-field"><label
                                id="label-email-42b5b6fb-d132-4b5d-95e6-44f11df2c330" class=""
                                placeholder="Enter your Email" for="email-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>Email</span><span
                                class="hs-form-required">*</span></label>
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input"><input id="email-42b5b6fb-d132-4b5d-95e6-44f11df2c330" name="email"
                                                      required="" placeholder="" type="email" class="hs-input"
                                                      inputmode="email" autocomplete="email" value=""></div>
                        </div>
                        <div class="hs_phone hs-phone hs-fieldtype-text field hs-form-field smart-field"><label
                                id="label-phone-42b5b6fb-d132-4b5d-95e6-44f11df2c330" class=""
                                placeholder="Enter your Telephone number"
                                for="phone-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>Telephone number</span><span
                                class="hs-form-required">*</span></label>
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input"><input id="phone-42b5b6fb-d132-4b5d-95e6-44f11df2c330" name="phone"
                                                      required="" placeholder="" type="tel" class="hs-input"
                                                      inputmode="tel" autocomplete="tel" value=""></div>
                        </div>
                    </fieldset>
                    <fieldset class="form-columns-1">
                        <div class="hs_edad_hijos hs-edad_hijos hs-fieldtype-select field hs-form-field smart-field">
                            <label id="label-edad_hijos-42b5b6fb-d132-4b5d-95e6-44f11df2c330" class=""
                                   placeholder="Enter your What year was your child born in?"
                                   for="edad_hijos-42b5b6fb-d132-4b5d-95e6-44f11df2c330"><span>What year was your child born in?</span><span
                                    class="hs-form-required">*</span></label>
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input"><select id="edad_hijos-42b5b6fb-d132-4b5d-95e6-44f11df2c330" required=""
                                                       class="hs-input" name="edad_hijos">
                                <option disabled="" value="">Select an option from the drop-down menu</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="Antes del 2014">Before 2014</option>
                                <option value="No tengo hijos">I don't have children</option>
                            </select></div>
                        </div>
                    </fieldset>
                    <fieldset class="form-columns-1">
                        <div class="hs_he_le_do_y_acepto_la_pol_tica_de_privacidad_ hs-he_le_do_y_acepto_la_pol_tica_de_privacidad_ hs-fieldtype-booleancheckbox field hs-form-field">
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input">
                                <ul class="inputs-list" required="">
                                    <li class="hs-form-booleancheckbox"><label
                                            for="he_le_do_y_acepto_la_pol_tica_de_privacidad_-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                            class="hs-form-booleancheckbox-display"><input
                                            id="he_le_do_y_acepto_la_pol_tica_de_privacidad_-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                            class="hs-input" type="checkbox"
                                            name="he_le_do_y_acepto_la_pol_tica_de_privacidad_" value="true"><span>I have read and accept the privacy policy.<span
                                            class="hs-form-required">*</span></span></label></li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-columns-1">
                        <div class="hs_deseo_suscribirme_al_servicio_de_newsletter hs-deseo_suscribirme_al_servicio_de_newsletter hs-fieldtype-booleancheckbox field hs-form-field">
                            <legend class="hs-field-desc" style="display: none;"></legend>
                            <div class="input">
                                <ul class="inputs-list">
                                    <li class="hs-form-booleancheckbox"><label
                                            for="deseo_suscribirme_al_servicio_de_newsletter-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                            class="hs-form-booleancheckbox-display"><input
                                            id="deseo_suscribirme_al_servicio_de_newsletter-42b5b6fb-d132-4b5d-95e6-44f11df2c330"
                                            class="hs-input" type="checkbox"
                                            name="deseo_suscribirme_al_servicio_de_newsletter" value="true"><span>I would like to subscribe to the newsletter and receive free English resources for children.</span></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <div class="hs_submit hs-submit">
                        <div class="hs-field-desc" style="display: none;"></div>
                        <div class="actions"><input type="submit" class="hs-button primary large" value="Send"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="jkebml">
        <div class="lazyload-wrapper styles__ImageWrapper-sc-1ncx5lz-0 dczaCk image">
            <picture>
                <source type="image/webp" sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                <source type="image/png" sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw">
                <img src="https://www.kidsandus.com/static/Contacto-b24d4c9a50d272d0b40e6eed6c6529ce.png" sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
  (min-resolution: 192dpi) 50vw,
  (min-resolution: 2dppx) 50vw,
  (-webkit-min-device-pixel-ratio: 3) 33.33vw,
  (min-resolution: 288dpi) 33.33vw,
  (min-resolution: 3dppx) 33.33vw" alt=""></picture>
        </div>
    </div>
{% endblock main_content %}