{% extends 'includes/navbar.html' %}
{% block main_content %}
    <main class="bNGFdg">
        <div class="gVvRin">
            <div size="xlarge" class="bjNhTw jeMOEU">
                <div class="kYHodx">
                    <div class="leTRdU image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/Listening1200.png?itok=u1v_B_5c">
                    </div>
                </div>
                <div class="GSXFq">
                    <p class="title">English for babies, children, and teens</p>
                    <h1 class="claim">The path to learning English through every stage of life</h1>
                </div>
            </div>
        </div>
        <div class="bnENfd">
            <div class="eipHMI">
                <h2>The Method</h2>
                <div class="description">
                    <p>A method based on the mother tongue acquisition process</p>
                </div>
                <div class="ctaContainer"><a href="#" class="bDxdME btn">Find out more!</a></div>
            </div>
            <div class="UYQBT">
                <video controls class="home-full-video">
                    <source src="https://www-pro-drupal.kidsandus.com/sites/default/files/2022-10/Kids_eng.mp4"
                            type="video/mp4"/>
                </video>
            </div>
        </div>
        <div class=" koFrOi">
            <h2 class="title">Our courses: an educational journey in stages!</h2>
            <div class="anchors">
                <div class="courseLink babies">
                    <div class="title">Babies</div>
                    <div class="age">Ages 1 to 2</div>
                </div>
                <div class="courseLink kids">
                    <div class="title">Kids</div>
                    <div class="age">Ages 3 to 8</div>
                </div>
                <div class="courseLink tweens">
                    <div class="title">Tweens</div>
                    <div class="age">Ages 9 to 12</div>
                </div>
                <div class="courseLink teens">
                    <div class="title">Teens</div>
                    <div class="age">Ages 13 to 18</div>
                </div>
            </div>
        </div>
        <div class="kZnqWE">
            <div class="fFMcZx">
                <div class=" hDGcnD bZFMjS">
                    <div class="wPaNM">
                        <p class="subtitle">The journey starts here</p>
                        <h2 class="title">Babies from 1 to 2 years old</h2>
                        <div class="ctaContainer"><a href="#" class="iqsjyF">Find out more!</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div>
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Accessible-English-for-children-from-3-to-8-years-old-Kids-and-Us.png?itok=MULdVjPI"
                                 sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
                    (min-resolution: 192dpi) 50vw,
                    (min-resolution: 2dppx) 50vw,
                    (-webkit-min-device-pixel-ratio: 3) 33.33vw,
                    (min-resolution: 288dpi) 33.33vw,
                    (min-resolution: 3dppx) 33.33vw" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kZnqWE Kejbb">
            <div class="fFMcZx ">
                <div class="hDGcnD bZFMjS reverse">
                    <div class="wPaNM">
                        <p class="subtitle">A journey full of discoveries</p>
                        <h2 class="title">Kids from 3 to 8 years old</h2>
                        <div class="ctaContainer"><a href="#" class="iqsjyF">Find out more!</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div>
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/English-for-babies-children-and-teenagers-Kids-and-Us.png?itok=uKf2upPt"
                                 sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
                        (min-resolution: 3dppx) 33.33vw" alt/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kZnqWE iuerg">
            <div class="fFMcZx">
                <div class="hDGcnD bZFMjS">
                    <div class="wPaNM">
                        <p class="subtitle">A journey towards one objective: speaking fluently</p>
                        <h2 class="title">Tweens from 9 to 12 years old</h2>
                        <div class="ctaContainer"><a href="#" class="iqsjyF">Find out more!</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/original/public/2022-11/Planned-activities-to-learn-English-Kids-and-Us.png?itok=kLa11G3k" alt="in cool off camp your children learn vocabulary and new structures of the English language">
                    </div>
                </div>
            </div>
        </div>
        <div class="kZnqWE jkzbf">
            <div class="fFMcZx">
                <div class="hDGcnD bZFMjS reverse">
                    <div class="wPaNM">
                        <p class="subtitle">A journey to prepare for the future</p>
                        <h2 class="title">Teens from 13 to 18 years old</h2>
                        <div class="ctaContainer"><a href="#" class="iqsjyF">Find out more!</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div>
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/INTRO_BABY_1200_26OCT.png?itok=miJm3MVM"
                                 sizes="(-webkit-min-device-pixel-ratio: 2) 50vw,
                        (min-resolution: 3dppx) 33.33vw" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dJbFpw imgFullBackground academy"
             style="background-image: url('https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/The-best-academies-to-learn-English-Kids-and-Us.png?itok=B5eW5sbY');">
            <div class="fFMcZx">
                <div class="styles__ContentZone-sc-h19e2f-1 hDGcnD">
                    <div class="cFabaQ">
                        <div></div>
                    </div>
                    <div class="styles__TextZone-sc-h19e2f-3 wPaNM jabv">
                        <p class="subtitle">Where English happens</p>
                        <h2 class="title">Our schools</h2>
                        <div class="text">
                            <p>Kids&amp;Us has over 500 schools, so it’s highly likely there’s one near you. Choose
                                your area so your child can start their journey today.</p>
                        </div>
                        <div class="ctaContainer"><a href="#" class="iqsjyF">Find out more!</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kZnqWE Kejbb">
            <div class="fFMcZx ">
                <div class="hDGcnD bZFMjS reverse">
                    <div class="wPaNM">
                        <p class="subtitle">Our activities in English</p>
                        <h2 class="title">Kids&Us Universe</h2>
                        <div class="text">
                            <p>An endless array of themed activities in English that stimulates the children’s
                                imagination and helps them to stay in touch with the language.</p>
                        </div>
                        <div class="ctaContainer">
                            <a href="#" class="iqsjyF">Choose your activity</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div>
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/We-have-a-wide-variety-of-activities-Kids-and-Us-min.png?itok=2VTUYhgo"
                                 alt="a lot of thematic activities in English that encourage the imagination of children and girls">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bbMIea">
            <div class="ihuxSu">
                <h2 class="title">Proud of Kids&amp;Us</h2>
                <p class="subtitle">You can find us in Spain, Andorra, Italy, France, Belgium, Czech Republic,
                    Mexico, Vietnam and Japan</p>
            </div>
            <div class="dvSQSd">
                <div class="gvVRlU image">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Kids-and-Us-presents-dans-de-nombreux-pays-Kids-and-Us-min.png?itok=b2jsN7Li"
                         alt="">
                </div>
            </div>
            <div class="ebcpEb">
                <div class="hpaQrZ"><span class="big"><span class="prefix">Over</span>
                            150,000</span>
                    <p class="small">students</p>
                </div>
                <div class="jqfnA-d"><span class="big"><span
                        class="prefix"></span>+500</span>
                    <p class="small">schools</p>
                </div>
                <div class="hxKdRh"><span class="big"><span
                        class="prefix"></span>90%</span>
                    <p class="small">loyalty rate</p>
                </div>
            </div>
        </div>
        <div class="yGSHP is-cover-image">
            <div class="fFMcZx">
                <div class="hDGcnD bZFMjS">
                    <div class="wPaNM">
                        <p class="subtitle">Open your own Kids&amp;Us school</p>
                        <h2 class="title">A successful model</h2>
                        <div
                                class="text">
                            <p>Join an innovative project with a very clear mission: to continue being pioneers
                                in the English language teaching sector with the will to shape the future for
                                generations to come.</p>
                        </div>
                        <div class="ctaContainer">
                            <a href="#" class="iqsjyF">Join the Team</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div width="100%" height="100%" class="CoverImage-sc-fkn7sy-0 fkxKaQ cover-image"></div>
                        <div class="leTRdU image">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Opens-a-Successful-English-Academy-Kids-and-Us.jpg?itok=w7o1Sh4s"
                                 alt="join the kids and us team and be part of our franchise of english academies">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dJbFpw shop is-cover-image">
            <div class="fFMcZx">
                <div class="hDGcnD  bZFMjS reverse">
                    <div class="styles__TextZone-sc-h19e2f-3 wPaNM">
                        <p class="subtitle">Learn at home</p>
                        <h2 class="title">Resources to learn English</h2>
                        <div class="text">
                            <p>It is important that the children continue to be exposed to English at home, in a
                                natural way, in their family environment.</p>
                        </div>
                        <div class="ctaContainer">
                            <a href="#" class="iqsjyF">Choose your activity</a>
                        </div>
                    </div>
                    <div class="gdfoRf">
                        <div class=""></div>
                        <img
                                src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/All-the-resources-to-learn-English-Kids-and-Us.png?itok=APZbCG0C"
                                alt="our methodology complements each other with a series of own and unique didactic resources">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main_content %}