{% extends 'includes/navbar.html' %}
{% block main_content %}
    <div class="ebBzwJ uzefze">
        <div class="bjNhTw jeMOEU">
            <div class="kYHodx">
                <div class="leTRdU image">
                    <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/BILLB_metode_15JL.png?itok=7hV1hAZu"/>
                </div>
            </div>
            <div class="GSXFq"><p class="claim">Even the longest journey starts with a
                step</p>
                <h1 class="title">The method to learn English</h1></div>
            <div class="containerCta vert-move">
                <button class="cta">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                              fill="#303030"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="gcjMaM image" aria-hidden="true" alt=""></div>
    </div>

    <div class="eOYysF"><p class="subtitle">Take the step!</p>
        <div class="hPyRMJ">
            <div title="The method to learn English "
                 class="ikBVbR jeMOCE wysiwyg false"
                 size="reader"><h2>The method to learn English </h2>
                <p>Kids&amp;Us’ method to learn English is based on the natural process followed when learning the
                    mother tongue, it’s an educational journey which follows a logical, natural, and spontaneous
                    order.</p></div>
        </div>
    </div>


    <div class="hpCTeP">
        <div class="hnvHY bZFMjS reverse">
            <div class="BcRtG bZFMjS reverse"
                 size="mainwrapper">
                <div class="fSgAsj"><h3 class="title">Listening</h3>
                    <p class="subtitle">First step</p>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p>It is evident that the language acquisition process begins long before the
                        child starts speaking. For this reason, at Kids&amp;Us we believe children should start learning
                        English from the age of one through daily exposure to the new language.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/Listening1200.png?itok=u1v_B_5c"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faJtuJ">
        <div class="hnvHY bZFMjS reverse">
            <div class="BcRtG bZFMjS "
                 size="mainwrapper">
                <div class="fSgAsj"><h3 class="title">Understanding</h3>
                    <p class="subtitle">Second step</p>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p>After hearing the same combinations of words at different times and in
                        different contexts, the child eventually understands the meaning of everything they hear.
                        Parents communicate with their children by speaking in a natural way, using a wide variety of
                        words, expressions and phrases in different tenses. The Kids&Us method reproduces this situation
                        with its students and exposes them to language as it is, through contexts that are easily
                        recognisable to them.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/LOVI_UNDERSTANDING_1200_28OCT.png.webp?itok=aPKjydRw"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="klDOMk">
        <div class="hnvHY bZFMjS reverse">
            <div class="BcRtG bZFMjS reverse"
                 size="mainwrapper">
                <div class="fSgAsj"><h3 class="title">Speaking</h3>
                    <p class="subtitle">Third step</p>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p>Talking is the natural consequence of listening and understanding. At this
                        point in their journey, we create situations in the classroom where the students have the
                        opportunity to verbalise and put into context everything they have learnt up to that point.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/ADRIANA_METODE_21O.png.webp?itok=wsj3a77m"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hguKFh">
        <div class="hnvHY bZFMjS reverse">
            <div class="BcRtG bZFMjS"
                 size="mainwrapper">
                <div class="fSgAsj"><h3 class="title">Reading</h3>
                    <p class="subtitle">Fourth step</p>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p>Reading is a natural consequence of listening, understanding, and speaking.
                        Starting to learn a language by reading and writing it first is unnatural; it is like trying to
                        make a bird fly before it knows how to spread its wings. At Kids&Us our students start reading
                        in English from the age of 8, that is to say, once they have consolidated their oral language
                        skills and can already read in their mother tongue.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/Reading1200.png.webp?itok=a4QbTTKc"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hpCTeP">
        <div class="hnvHY bZFMjS reverse">
            <div class="BcRtG bZFMjS reverse"
                 size="mainwrapper">
                <div class="fSgAsj"><h3 class="title">Writing</h3>
                    <p class="subtitle">Fifth step</p>
                    <div class="jriswU jeMOCE text"
                         size="reader"><p>Writing is expressing your thoughts on paper. To reach this stage of language
                        development, it is essential to have passed the previous stages: listening, understanding,
                        speaking and reading. When our students begin to write in English, they already have a solid
                        enough foundation of the language to be aware of what they are communicating in written form. In
                        other words, at Kids&Us we introduce this skill at a time when the students are most ready to
                        tackle it successfully.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-pro-drupal.kidsandus.com/sites/default/files/styles/xlarge_webp/public/2022-10/WritingMETODE_24OCT.png.webp?itok=-QFvrZF6"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hyWaGC">
        <div class="hnvHY bZFMjS">
            <div class="BcRtG bZFMjS"
                 size="mainwrapper">
                <div class="dUHFna"><h2 class="title">An educational model with a quality
                    seal</h2>
                    <div class="fOmNDf jeMOCE text"
                         size="reader"><p>Quality and experience have always been our highest priorities and we work
                        every day to maintain them. The constant improvement of materials, teacher training,
                        personalised monitoring of the students, and regular communication with families form the solid
                        base that guarantees learning.</p>

                        <p>Kids&amp;Us teachers not only complete initial training before being able to teach, but also
                            undergo continuous training and refresher training in accordance with their corporate
                            training plan. They are also audited every term to ensure optimal implementation of the
                            method.</p>

                        <p>Each and every one of our teachers must pass a selection process consisting of an oral and
                            written level test. At the very least, we require a C1 level of the Common European
                            Framework of Reference for Languages.</p>
                    </div>
                </div>
                <div class="ituBAZ">
                    <div class="lazyload-wrapper leTRdU image">
                        <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-08/PROFE_3JNY.png?itok=K3OY8J2v"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jwxppq">
        <div class="dZeSfd jeMOCE">
            <h2 class="title">The pillars of the Kids&amp;Us method</h2>
            <p class="description"></p></div>
        <div class="ezsWss jeMOEU">
            <div class="kIuzyi">
                <div class="lazyload-wrapper doxRcq icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Our own method to learn English</div>
                <div class="jriswU jeMOCE description-card"></div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper jaZQwL icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Dynamic classes 100% in English</div>
                <div class="jriswU jeMOCE description-card"></div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper gHaxIn icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Small groups</div>
                <div class="jriswU jeMOCE description-card"></div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper cDYQpy icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Courses from 1 to 18 years</div>
                <div class="jriswU jeMOCE description-card"></div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper fdksGQ icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Method accessible up to the age of 7</div>
                <div class="jriswU jeMOCE description-card"></div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper fnndWn icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Daily exposure to English via an audio track</div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper duOEUp icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">Innovative and continuously improved</div>
            </div>
            <div class="kIuzyi">
                <div class="lazyload-wrapper hbkyQa icon">
                    <div class="bg" style=""></div>
                </div>
                <div class="title-card">We perform quality controls to ensure excellent teaching and learning</div>
            </div>
        </div>
    </div>

    <div class="blKpdY jeMOCE">
        <h2
                class="title">10 unique traits of Kids&Us</h2>
        <div onclick="open1()" class="styles__Box-sc-wdy053-1 BRrDi">How is English learnt with the Kids&Us method?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show1" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">With the perfect dose of English and fun! The classes are a combination of linguistic knowledge, spiced up with songs and games, behind which there is intense grammar work to consolidate the learning objectives. Whether inside or outside the classroom, all the ingredients of the Kids&Us method are meticulously calibrated to make learning effective, dynamic, and motivating.<br>

All the activities carried out in class have a communicational purpose and are designed to consolidate and enhance the contents and objectives of each course. In our method, nothing is done just for the sake of it; everything has a reason!</span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open2()" class="styles__Box-sc-wdy053-1 BRrDi">
            What added value does Kids&Us offer?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show2" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">With our method, the children learn in a natural way by making the most of their innate resources. We want them to be in contact with real English from day one, without adaptations or omissions, so that their learning is comprehensive. In other words, we want them to be able to communicate, have good pronunciation and develop good oral and written comprehension.</span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open3()" class="styles__Box-sc-wdy053-1 BRrDi">
            What levels does Kids&Us have?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show3" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">
                At Kids&Us we do not distinguish between levels of English, in the same way that there are no levels when acquiring the mother tongue. We use stories and characters relevant to each age group. During the classes, the children will learn that their surroundings and the things they are familiar with also have their own names in English.
<br>
With Linda, the character for 2-year-old Babies, the children will see how she stops wearing nappies and starts to use the toilet. However, in Oliver (6 to 7-year-olds) one of the character's teeth falls out. This makes it easier to pique the children's interest and keep them motivated.
            </span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open4()" class="styles__Box-sc-wdy053-1 BRrDi">How many days a week do they have class?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show4" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">Up to the age of two, the children attend one 45-minute class per week. From the age of three until they begin to read and write, they come for one hour a week. And from the age of 8, the number of hours of class per week will gradually increase to 3 hours per week, spread over two days. In short, it is an effective and sustainable dose over time, in accordance with the age of the students. </span></span></span>
            </p>
            </div>
        </div>
        <div onclick="open5()" class="styles__Box-sc-wdy053-1 BRrDi">Why do they have to listen to an audio track every
            day?
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 10" class="chevron">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.293 1.293a1 1 0 011.414 0L8 6.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z"
                      fill="#303030"></path>
            </svg>
        </div>
        <div id="show5" class="styles__Panel-sc-wdy053-2 kdQnSX">
            <div size="reader" class="styles__Container-sc-1msdkri-1 jriswU styles__Container-sc-1msdkri-1 jriswU"><p
                    style="text-align:justify; margin-bottom:11px"><span style="font-size:11pt"><span
                    style="line-height:107%"><span style="font-family:&quot;DIN Offc Pro&quot;,sans-serif">We believe that continuous exposure to language is essential for learning. By repeatedly listening to a particular audio track, it aids the children in retaining a large number of words and structures in their brains, so that when they hear them or work on them in class, they can identify and reproduce them much more easily than if they had not heard them before. At this point, it goes without saying, the importance of listening is not to be underestimated; through listening, the ear becomes accustomed to understanding English and its pronunciation.
<br>
These tracks are approximately ten minutes long. They can be listened to at any time and during any activity, as long as it is not watching television or any other type of audiovisual stimulus that may distract them. In this regard, it is important to find a time to listen to them on a daily basis, in order to integrate this habit as a routine (at breakfast, before going to bed, etc.).</span></span></span>
            </p>
            </div>
        </div>
    </div>

    <div class="jkjmBQ">
        <div class="jkjmBQ jeMOEU">
            <div class="title">You might also be interested in…</div>
            <div class="chtGEk">
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_METODE.png?itok=eKdwo_kD"/>
                        </a>
                        <h3 class="title">Our method</h3>
                        <p class="text">Find out more about the method that revolutionised English teaching</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-10/912X608_CROSSSELLING_ACTIVIDADES.png?itok=uEv9mmdD">
                        </a>
                        <h3 class="title">Kids&Us Universe</h3>
                        <p class="text">A universe of activities</p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ldoSGc">
                    <div>
                        <a href="#">
                            <img src="https://www-backend-pro.kidsandus.com/sites/default/files/styles/original/public/2022-11/Find-your-closest-academy-to-home-Kids-and-Us.png?itok=Jt3W4RJr">
                        </a>
                        <h3 class="title">Our schools</h3>
                        <p class="text">Find your nearest school

                        </p>
                        <a class="fdoAFU btn" href="#"><span>Find out more!</span>
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.854.146a.5.5 0 10-.708.708L11.293 4H.5a.5.5 0 000 1h10.793L8.146 8.146a.5.5 0 10.708.708l4-4A.499.499 0 0013 4.5m-.038-.191a.5.5 0 00-.108-.163l-4-4m4.108 4.163a.5.5 0 01.038.188z"
                                      fill="#fff"></path>
                            </svg>
                        </a></div>
                </div>
            </div>
        </div>
    </div>

    {% block script %}
        <script>
            function open1() {
                document.getElementById("show1").style.display = 'block';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open2() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'block';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open3() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'block';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'none';
            }

            function open4() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'block';
                document.getElementById("show5").style.display = 'none';
            }

            function open5() {
                document.getElementById("show1").style.display = 'none';
                document.getElementById("show2").style.display = 'none';
                document.getElementById("show3").style.display = 'none';
                document.getElementById("show4").style.display = 'none';
                document.getElementById("show5").style.display = 'block';
            }

            window.onclick = function (event) {
                if (!event.target.matches('.BRrDi')) {
                    let dropdowns = document.getElementsByClassName("kdQnSX");
                    for (let i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        openDropdown.style.display = 'none';
                    }
                }
            }
        </script>
    {% endblock script %}

{% endblock main_content %}